[2019-07-17 10:10] mojoaxel opened #1 "introduce semantic-release"
https://www.npmjs.com/package/semantic-release

[2019-07-21 22:19] mgobishop opened #2 "postinstall script"
When I npm install vis-timeline I get the following error:

npm ERR! Failed at the vis-data@6.1.0 postinstall script

Any help or advice appreciated :-)

[2019-07-22 15:48] UnicornDeluxe opened #4 "hierarchical directed layout: wrongly directed arrows"
_The fiddle below is using vis.js as vis-network seems to be not yet available on cdnjs, however this is not working on the current vis-network version either._

As you can see on [this jsfiddle](http://jsfiddle.net/Ln4t9mjr/) not strictly hierarchical networks do not very well with vis atm. It seems that the levels given to the diferent nodes by vis are not quite.. right.
The first network shows

[2019-07-23 10:39] UnicornDeluxe commented on #4
[Here](http://jsfiddle.net/zjnktdvr/) is the above mentioned example where the order of the edges matters.
The top one of the 2 graphs has the edge array sorted differently each time one presses run which results in completly different trees each time.
It seems like this is due to the fact, that the way vis determines the max level of the tree is wrong.
The correct graph, the bot one, has 21 level

[2019-07-23 11:30] mojoaxel opened #7 "adopt pull-requests fom vis and visjs-timeline"
We should think about how to adopt (old) pull-requests from [vis](https://github.com/almende/vis/pulls?q=is%3Aopen+is%3Apr) and [visjs-network](https://github.com/visjs-community/visjs-network/pulls?q=is%3Apr+is%3Aclosed).

- [x] [almende/vis#4039](https://github.com/almende/vis/pull/4039), [visjs-network/pull/6](https://github.com/visjs-community/visjs-network/pull/6) and [visjs-network/pull/9](h

[2019-07-23 12:36] #2 closed

[2019-07-23 12:40] mojoaxel commented on #1
I'm not sure if `semantic-release` can do this but I really would love to auto-release after each successful pull-request.

[2019-07-24 01:41] richardeaxon commented on #7
There are a couple of ways to do this (see here https://stackoverflow.com/questions/6022302/how-to-apply-unmerged-upstream-pull-requests-from-other-forks-into-my-fork).

Lets say I want to target almende/vis pull #4280 and merge it into the new vis-network. I could do

`git pull https://github.com/almende/vis refs/pull/4280/head`

which sucks the entire pull request across but generates masses of

[2019-07-24 02:13] richardeaxon commented on #7
And from here (https://stackoverflow.com/questions/1670970/how-to-cherry-pick-multiple-commits) you can cherry-pick ranges.

`git cherry-pick 88b1c05abafcd0aa51e89ba417cd4cbc42a2ae60..4c604a38818c96ae252ed2cbd50143f4092a341b`

I did notice that I still had to import the entire remote pull request to load all the refs before I could cherry-pick. So my procedure was:

[code]
The second example has m

[2019-07-24 07:01] mojoaxel commented on #7
@richardeaxon Thanks! Feel free to provide some useful pull-requests :wink:

[2019-07-24 09:28] missinglink opened #9 "Unable to remove circular 'handle'"
Heya,

I'm trying to remove a circular 'handle' from the graph as seen in the screenshot on the right-hand side of the middle node.

<img width="202" alt="Screenshot 2019-07-24 at 11 24 24" src="https://user-images.githubusercontent.com/738069/61782197-ef0a2600-ae05-11e9-8086-41f0f39474ef.png">

Apologies, as it's a question phrased as a bug report, but I've gone through all the options in the doc

[2019-07-25 04:50] kwonjoseph opened #10 "Need update to subdependencies bootstrap and jquery"
Hi visjs team,

I have gotten to this page from being referred to by @mojoaxel  who I found through your github page. I am filing an issue to update some of vis-network’s subdependencies.  The ones in particular are bootstrap and jquery.  Our risk team here at paypal has deemed these versions of the libraries you guys are utilizing to be potentially vulnerable and are not allowing them to pass the

[2019-07-25 06:31] mojoaxel commented on #10
I looked into it. Bootstrap and jQuery are no dependencies, but are used in the docs.
We should replace them with CDN links.

[2019-07-25 07:34] kwonjoseph commented on #10
sorry, if possible may you clarify what exactly I would need to do on my end to achieve this? please and thank you

[2019-07-25 07:50] mojoaxel commented on #10
@kwonjoseph I'll provide a fix shortly.

[2019-07-25 07:57] mojoaxel commented on #10
@kwonjoseph Until this is "fixed" You can maybe just manually delete the folder:
- "node_modules/vis-network/docs/"
- "node_modules/hammerjs/tests/unit/"

[2019-07-25 08:08] mojoaxel commented on #10
The problem is that we have static assets (e.g. jquery.min.js) that are used by the docs.

I see two ways to approach this:
1. update boostrap, jquery and other possible assets to up-to-date versions.
2. remove static assets in favor of cdn links.

I prefer removing these static assets from vis-network (option 2). But this has the problem that the docs can not be viewed anymore if the CDN has prob

[2019-07-25 08:12] mojoaxel commented on #10
There is another problem: [hammer.js](https://github.com/hammerjs/hammer.js) has removed jquery as a test dependency but has not released a new version (since 2016). If we want to fix this problem too we would need to fork hammer.js and provide our own custom build (e.g. vis-hammer) or depend on an unreleased version via a direct github-dependency.

[2019-07-25 08:12] kwonjoseph commented on #10
so the ECI does its own npm install before running these tests I don't think the temporary solution you have suggested would resolve my issue.  Thank you for working on this issue!

[2019-07-25 08:19] mojoaxel commented on #10
@kwonjoseph Have you talked to the ECI people. All this dependencies are in docs or tests. These libraries do not get bundled or delivered in any way. This is clearly a problem with there tools!

We easily could fix the "problems" in vis-network but not in hammerjs.

[2019-07-25 14:29] nicolaslupinski opened #12 "bad rendering and network.body.view.translation is {x:NaN, y:NaN}"
Hi

There is a hard-to-reproduce bug with vis network 4.21.0 : sometimes, the networks is not rendered properly (only edges), and it is related to network.body.view.translation being {x:NaN, y:NaN}.

I'm getting the issue on all kind of browser and on different computers, especially the slower one. Maybe the browser is trying to render before the network has been initialized ?

I've found I can re

[2019-07-25 15:14] jamesorlakin opened #13 "Migrate DefinitelyTyped typings for TypeScript support"
There was a type declaration file on DefinitelyTyped for vis to allow TypeScript developers to enable static analysis and autocomplete in VS Code. Would this project be interested in migrating it over for vis-network?

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/vis/index.d.ts

I would happily give it a go but the file was never that accurate and I'm not that concrete on v

[2019-07-25 17:08] vletoux commented on #9
It has nothing to do with options but with your data.
You have an edge with the same node as start and as end.

[2019-07-25 19:27] mojoaxel commented on #12
You tell us :wink:

Please try it with the 5.0 release. If there the problem still exists you also can try [visjs-network](https://github.com/visjs-community/visjs-network). If the problem is fixed there we might adopt those changes.

[2019-07-25 19:47] missinglink commented on #9
Right you are! Thanks very much, I knew I was doing something stupid!

[2019-07-25 19:47] #9 closed

[2019-07-26 04:04] kelumKP opened #14 "How to expand/collapse nodes with mouse click"
Like D3 Js is there any option available to Expand/Collapse Nodes?

[2019-07-26 12:28] mojoaxel commented on #14
Maybe Clustering is what you are looking for?
- https://visjs.github.io/vis-network/examples/network/other/clusteringByZoom.html
- https://visjs.github.io/vis-network/docs/network/#methodClustering

[2019-07-26 12:32] mojoaxel commented on #14
_By the way: This is not a support forum! We don't want to answer user-questions here. We are currently working on a documentation to make it more clear where this kind of questions could be better answered. For now please use [stackoverflow and the "vis.js" tag](https://stackoverflow.com/search?q=vis.js)_

[2019-07-26 12:32] #14 closed

[2019-07-26 12:47] mojoaxel commented on #10
`propagating-hammerjs` also should use hammerjs@2.0.8: https://github.com/josdejong/propagating-hammerjs/pull/11

[2019-07-26 15:02] gflarity commented on #13
@jamesorlakin I'll definitely use it and I'm more than willing to fix and issues I run into it. Might as well go for it?

[2019-07-26 15:03] gflarity commented on #13
There's also a tsconfig.json in this project, but no .ts files... so maybe there's something in works?

[2019-07-26 18:03] mojoaxel commented on #13
Thanks to @Thomaash the whole visjs family is moving into the typescript direction :tada:
The vis-network repository already has one test file written in TS and I'm sure @Thomaash is planning to move a lot in this direction in the future.

Before we change the whole codebase to typescript We really should try to adopt as many existing pull-requests from [almende/vis](https://github.com/almende/vis

[2019-07-26 18:15] Thomaash commented on #13
There are actually 2 tests in TypeScript (that's why the tsconfig.json exists). I wan't to rewrite it into TypeScript (DataSet and DataView already are) but I also want to be sure to not break anything (or break as few things as possible). However there are very few tests to help me with this, so my plan right now is to increase the test coverage first.

I originally started with visjs-network (it

[2019-07-26 19:57] mojoaxel commented on #7
I followed [this](https://coderwall.com/p/sgpksw/git-cherry-pick-from-another-repository) and was successfull. Here is an example:

[code]

[2019-07-26 23:01] mojoaxel commented on #13
:+1: We all lern all the time! I would recommending starting small and than moving more and more to TS. As I understand it JS is compatible with TS so the first step could be to rename the first file to `.ts` and start adding type information!?

At some point https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/vis could become obsolete.

[2019-07-27 16:09] #10 closed

[2019-07-27 17:13] mojoaxel commented on #10
@kwonjoseph your issues should be fixed. Keep you eyes up for the upcoming major release!

[2019-07-27 21:07] mojoaxel opened #31 "replace images with inline svg icons"
Please make sure to **read the following list** before creating a new issue:

* This issue tracker is not supposed to be used for questions on how to use visjs. It is intended to be used for bug reports and feature requests! In case you face yourself with a usage question, then post your question e.g. on [stackoverflow](https://stackoverflow.com/questions/tagged/vis.js) tagged with "vis.js".
* Hav

[2019-07-28 09:02] mojoaxel opened #33 "create automated regression tests"
We should introduce screenshot/regression tests!
I would recommend https://www.cypress.io

[2019-07-28 09:10] Thomaash commented on #33
I use Cypress to test this: https://thomaash.github.io/me/#/canvas . The canvas tests are not exactly reliable.

[2019-07-29 09:00] mojoaxel opened #40 "adopt improvements from daniel4thsource/vis"
It looks like the this fork made some small improvements. Maybe we can use some of them?
https://github.com/daniel4thsource/vis

[2019-07-29 09:13] UnicornDeluxe opened #41 "clickToUse: mouseDown instead of mouseUp"
Hey,
the clickToUse option is really helpfull and overall a nice feature. Especially if the graph is embedded in [a page where you have to scroll](http://jsfiddle.net/4zob03hx/) so you can scroll through the page without accidently zooming in or out the graph.
However, if one wants to move around elements in the graph and has to select it first it just feels bad.
So instead of having the graph sel

[2019-07-29 09:16] mojoaxel commented on #12
@nicolaslupinski Can you please confirm this problem still exists in v5.1.0 !?

[2019-07-29 11:01] Thomaash commented on #12
I actually encountered this too, very rarely though, with the original vis package. But it was happening only with Vue.js dev tools active so I blamed it on HMR or something. However all these tools slow everything down a lot, maybe it would also happen on a slow PC (if it is indeed the same issue).

[2019-07-29 11:23] Thomaash commented on #12
@nicolaslupinski Does this ring a bell?
![Screenshot from 2019-07-29 13-21-07](https://user-images.githubusercontent.com/12966757/62044654-c4540f00-b203-11e9-8532-1ef6581e3da2.png)

(vis 4.21.0)

[2019-07-29 11:23] Thomaash commented on #12
I'll try to trigger this with the new vis-network.

[2019-07-29 11:34] Thomaash commented on #12
![Screenshot from 2019-07-29 13-33-28](https://user-images.githubusercontent.com/12966757/62045423-8e178f00-b205-11e9-871a-8ecd9fcc9cdf.png)

(vis-network 5.1.0)

[2019-07-29 11:39] Thomaash commented on #12
Steps to reproduce:
- `net.moveTo({ position: { x, y }, scale })`
- `net.fit({ animation: true })`

[2019-07-29 11:46] Thomaash commented on #12
Nope, it's more complex than that. This works just fine in MWE.

[2019-07-29 13:09] Thomaash commented on #12
MWE: https://jsfiddle.net/6kg4xr7d/2/

[2019-07-29 13:11] Thomaash commented on #12
The problem is that string scale (notice line 76 in MWE) doesn't work but also doesn't show any error.

[2019-07-29 13:13] Thomaash commented on #12
Well it sorta works, but causes problems.

[2019-07-29 14:59] nicolaslupinski commented on #12
Thanks Thomaash !

I can reproduce the issue reliably by setting the scale to 0 (which make the whole network disappear) then network.fit().

network.moveTo({position:{x:1, y:1}, scale:0}); network.fit();

The hacked fix, to reset the network.body.view.translation before redraw and fit, also works reliably :

function redrawAndFit(network){
    if(isNaN(network.body.view.translation.x) || isNaN(ne

[2019-07-29 15:18] Thomaash commented on #12
So far two reasons have been reliably identified:
- string scale in moveTo: https://jsfiddle.net/6kg4xr7d/2/
- 0 scale in moveTo: https://jsfiddle.net/pq8heo9b/

[2019-07-29 15:19] Thomaash commented on #12
@nicolaslupinski Will your problems disappear if you convert your scale to a number and ensure it is not zero?

[2019-07-29 15:45] glennverschooren commented on #13
Hi,

Is it possible to use the `vis-network` module inside a typescript project today?
If not what do you prefer?:

- use the old 'vis' library with the '@types/vis' types?
- use the new one and type it with any?

`
import * as VisNetwork from 'vis-network';

// Typescript does not recognize the `Network` function
const network = new VisNetwork.Network(container, data, options)

`

[2019-07-29 16:05] HWouters commented on #13
@glennverschooren this was possible with 5.0.0,  but seems to be broken with 5.1.1

[2019-07-29 19:06] albertki opened #42 "Importing DataSet module in javascript in latest release"
I installed the latest (5.1.0)  vis-network using npm, and I am using it in a react project. When I was using v.4.20.1, in my visjs component, I would do the following:

[code]

However, in the new repo, there doesn't seem to be a DataSet.js that I could import. Is there another way I could go about using the latest vis.js to create a network in my react project? (I am relatively new to javascript

[2019-07-29 19:13] mojoaxel commented on #13
@glennverschooren That is sad to hear! Can you please create a bug report, with a view more details. Thx!

[2019-07-29 19:14] mojoaxel commented on #13
@Thomaash Can you please have a look and answer this questions. Thx!

[2019-07-29 19:26] Thomaash commented on #13
This is planned in 4 stages:
- [x] Add root TypeScript files (export types that don't exists).
- [ ] Add types from DefinitelyTyped.
- [ ] Add dummy types (export any to silence TS) where we don't have them.
- [ ] Rewrite into TS (there is a PR for Gephi parser already).

We should maybe release 5.1.1 completely without types because what is there is unusable :shit:.

[2019-07-29 19:28] Thomaash commented on #12
@mojoaxel This seems like input validation issue to me. We should just throw if the input doesn't pass `scale > 0` to not cause this hard to debug confusion. Or is there any point in having zero, negative or string scale?

[2019-07-29 19:30] mojoaxel commented on #13
Just for Info: We have our own fork of our "DefinitelyTyped": [vis-types](https://github.com/visjs/vis-types).

[2019-07-29 19:42] mojoaxel commented on #42
@albertki Try this:

[code]

[2019-07-29 19:51] mojoaxel commented on #13
Well than lets release a 5.1.2 fast!!

[2019-07-29 19:51] albertki commented on #42
@mojoaxel That did it. Thank you very much!

[2019-07-29 19:51] #42 closed

[2019-07-29 19:56] mojoaxel commented on #7
:tada: [vis-timeline@5.1.0](https://github.com/visjs/vis-network/releases/tag/v5.1.0) is now feature-compatible with [visjs-network@4.24.10](https://github.com/visjs-community/visjs-network/tree/3a5d25522cc2fbc2e10f9acef77df1aa0332b440) :rocket:

[2019-07-29 19:56] #7 closed

[2019-07-29 19:57] mojoaxel opened #43 "adopt open pull-requests from almende/vis is usefull"
- [ ] []()
- [ ] []()
- [ ] []()
- [ ] []()
- [ ] []()
- [ ] []()
- [ ] []()

- [ ] []()

[2019-07-29 20:09] mojoaxel commented on #43
Looks simple. Adds multible functions to the `Network` prototype. Not sure why we need this.

[2019-07-29 20:12] mojoaxel commented on #43
:+1: This looks like a useful fix.

[2019-07-29 20:16] mojoaxel commented on #43
:exclamation:  :+1: Looks useful, but is missing documentation :-(

[2019-07-29 20:19] mojoaxel commented on #43
:+1: Looks like everything is there. Could be useful to somebody! Maybe needs a test.

[2019-07-29 20:23] mojoaxel commented on #43
:+1: :rocket:  This is just an example, but a useful one! We definitely should adopt this!

[2019-07-29 20:25] mojoaxel commented on #43
:+1: Nice speed improvement. Needs only minor adoption.

[2019-07-29 20:26] mojoaxel commented on #43
:+1: Nice new set of images. This would be an improvement, but I think the best way would be to replace these images all together (see #31)

[2019-07-29 20:29] mojoaxel commented on #43
:exclamation: :+1: Look good. Looks like a improvement of the dot language "dir" feature. Docs and an example is missing :disappointed:

[2019-07-29 20:31] mojoaxel commented on #43
:-1: No longer needed. Already fixed.

[2019-07-29 20:32] mojoaxel commented on #43
:+1: Should be merged!

[2019-07-29 20:33] mojoaxel commented on #43
:+1: Should be merged!

[2019-07-29 20:34] mojoaxel commented on #43
:+1: looks useful. Should be checked an merged.

[2019-07-29 20:41] mojoaxel commented on #12
I looked at it and I think you are right! The docs state that `The scale is a number greater than 0`. If you want you can add a Number cast bevor you check is `scale > 0` this way strings would also work.

@Thomaash Could you provide a fix or should I do it?

[2019-07-29 21:13] Thomaash commented on #12
I'll fix it.

[2019-07-30 10:14] nicolaslupinski commented on #12
I doubt.

My original problem is that the rendering is wrong sometimes.

Setting the scale to 0 was a reliable way to get the same bug (and test the fix). But it might not be the cause of the original problem (view.translation = {x:NaN, y:NaN}).

I'd rather have something that prevent view.translation to be set to NaN. I'll have to read the code to figure out where this can happen.

[2019-07-30 11:10] nicolaslupinski commented on #12
I manage to reproduce by realoading again and again untill it triggers. There is more than one bug actually, sometimes I get :

network.body.view.translation
{x: -Infinity, y: -Infinity}
network.body.view.scale
Infinity

Then I redraw() and and fit() :

network.body.view.translation
{x: NaN, y: NaN}
network.body.view.scale
0.8912253390328385

The rendering is messy : in the first case, it draws ed

[2019-07-30 11:14] Thomaash commented on #12
@nicolaslupinski Hi, it's perfectly possible that I misidentified your issue and fixed an unrelated problem. Could you please adapt this MWE https://codesandbox.io/embed/vis-networkissues12-mwe-1-exct0 to show your issue so that we all can see it?

[2019-07-30 11:34] ydg2018 commented on #13
(not sure if i should create a new issue or ask in here as it's indirectly the same subject)
Is vis-network 5.1.0 not working in typescript projects?
I tried installing vis-network but it didn't recognize the Network, Edge Data or Node objects from the old vis library.
Also tried to use `import * as VisNetwork from 'vis-network'; ` but that still only recognized the DataSet object.

I was looking

[2019-07-30 11:38] Thomaash commented on #13
@ydg2018 I'm going to look into this today and either make it work or release type free 5.1.1. The types are indeed broken. 5.0 doesn't have types at all so you can pin this version in your project.

[2019-07-30 11:40] ydg2018 commented on #13
@Thomaash thanks for the quick reply, i'll have a look at 5.0

[2019-07-30 15:31] gase12 opened #46 "multi-touch support"
hi feature request:
would be great to be able to add multitouch support on network visualizations. Dragging multiple nodes would give a nice ux boost.
if this can be done in current versions, please ignore, i haven't found it.
best. g

[2019-07-30 16:31] mojoaxel commented on #46
We already habe pinch-zoom with two fingers. I'm not sure how we should distinguish between pinch-zoom and multi-drag!?

[2019-07-30 16:52] gase12 commented on #46
Hi.
I am thinking of 2 options: (only on nodes) A: either pich zoom or multidrag supported. Not both at the same time. Option on init.

Or B: -better- if drag event fires on either touch input the next one would not trigger pinch. (If a Node touched drag will occur)

[2019-07-30 17:04] Thomaash commented on #46
I don't know. If I pinch I want to zoom no matter where I pinch, not carefully look and pick a good location where I can pinch to zoom without moving something by accident.

[2019-07-30 17:11] gase12 commented on #46
yes, thats breaking zoom-pinch in that case a bit.  - at least if the screen is full of nodes
(maybe could be linked to zoomlevel, but that is quite bad ux :) )

in my usecase i dont need zoom and looking for a solution for a touch based kiosk app. thats why i asked around..
so any lead would be welcome.. hackish solutions either...
thanks.

[2019-07-30 17:13] Thomaash commented on #46
Well, my comment doesn't apply if zoom is disabled, that's okay with me.

[2019-07-30 20:07] gase12 commented on #46
ok. so i poke around in InteractionHandler.js to see if it is doable.. i guess just ignoring the pinch event first could be a start...

[2019-07-31 12:05] ydg2018 commented on #13
I noticed the 5.1.1 has been merged, i just have 1 question.
When i define a DataSet<Edge> it keeps using the DataSet class from the vis-data library but that is a different class than the 1 defined in vis-network.
I can change
`import { Network, DataSet, Node, Data, Edge } from 'vis-network';`
to
`import { Network, DataSet, Node, Data, Edge } from 'vis-network/dist/types/vis-types';`
but that fee

[2019-07-31 13:10] Thomaash commented on #13
I think I forgot to update the DataSet in vis-types. I'll look into it when
I get home. Await 5.1.2.

On Wed, Jul 31, 2019, 14:05 ydg2018 <notifications@github.com> wrote:

[2019-08-01 11:00] gase12 opened #49 "setOption edge color options not updating edge properties"
hi.
dynamic option setting with setOptions() not working with edge colors (color.color, color.opacity etc)
though the network.edgesHandler.options gets updated.
network.setOptions({edges:{color:{opacity:0.0}}}).
on init all the parameters are ok afaik.
g

[2019-08-01 14:28] Thomaash commented on #49
What exactly is wrong? Could you provide a MWE?
Because to me it seems to be working just fine: https://jsfiddle.net/2qzu916x/ .

[2019-08-01 17:05] nicolaslupinski commented on #12
Hi Thomaash

Sorry I don't provide feedback quickly.

I've edited the code to show my issue, but I feel i'm cheating, by reproducing the bug and not its original cause.

Regards

[2019-08-01 17:07] gase12 commented on #49
sure. i might do something wrong but here it is:
https://jsfiddle.net/ts3jv4n8/16/

[2019-08-01 17:09] Thomaash commented on #12
Hi @nicolaslupinski,

it seems that you forgot to share the link to your MWE. Could you provide it please?

Thanks.

[2019-08-01 17:34] Thomaash commented on #49
@gase12 The problem is, that you use the legacy Vis 4.15.0. With vis-network 5.1.1 everything works just fine: https://jsfiddle.net/pjf2L640/ .

[2019-08-01 17:35] #49 closed

[2019-08-01 18:07] nicolaslupinski commented on #12
Indeed...

I boils down to writing  :

network.moveTo({
    position: {
      x: -Infinity,
      y: -Infinity
    },
    scale: 2
  });

[2019-08-01 18:09] Thomaash commented on #12
@nicolaslupinski Your're right, this is still an issue.

[2019-08-01 19:39] gase12 commented on #49
omg. sorry.

[2019-08-01 19:39] Thomaash commented on #49
No problem, everybody makes mistakes.

[2019-08-02 09:38] mojoaxel commented on #2
@mgobishop Thanks for opening this issue. We are happy that it could be resolved! Working on these issues takes a lot of time. Please consider [supporting](https://opencollective.com/visjs/contribute) further maintenance and development!

[2019-08-02 09:39] mojoaxel commented on #9
@missinglink Thanks for opening this issue. We are happy that it could be resolved! Working on these issues takes a lot of time. Please consider [supporting](https://opencollective.com/visjs/contribute) further maintenance and development!

[2019-08-02 09:39] mojoaxel commented on #10
@kwonjoseph Thanks for opening this issue. We are happy that it could be resolved! Working on these issues takes a lot of time. Please consider [supporting](https://opencollective.com/visjs/contribute) further maintenance and development!

[2019-08-02 09:40] mojoaxel commented on #42
@albertki Thanks for opening this issue. We are happy that it could be resolved! Working on these issues takes a lot of time. Please consider [supporting](https://opencollective.com/visjs/contribute) further maintenance and development!

[2019-08-02 09:41] mojoaxel commented on #49
@gase12 Thanks for opening this issue. We are happy that it could be resolved! Working on these issues takes a lot of time. Please consider [supporting](https://opencollective.com/visjs/contribute) further maintenance and development!

[2019-08-02 09:47] kwonjoseph commented on #10
no problem thank you for helping me with this issue.  I appreciated the support.

[2019-08-02 12:58] Thomaash commented on #1
Resolved by #48.

[2019-08-02 12:58] #1 closed

[2019-08-02 13:09] Thomaash commented on #13
Update for those who are interested: await 5.2.1, 5.2.0 doesn't solve this issue. We have to set vis-types repo up and publish it first.

[2019-08-03 08:49] mojoaxel opened #53 "use bot account for maintenance and releases"
We should create a special "visjs-bot" account that manages the circleci releases and e.g. things like stale-issue management.

[2019-08-03 09:45] mojoaxel commented on #53
As I see it it is possible to define the user of the semantic-release bot:
https://semantic-release.gitbook.io/semantic-release/usage/configuration#git-environment-variables

[2019-08-03 21:30] mojoaxel commented on #53
:tada: looks like we habe a vis-bot now: https://github.com/vis-bot

[2019-08-03 21:44] mojoaxel commented on #53
I also would like the bot to close issues marked as "support" while directing users to stackoverflow and the docs.

[2019-08-06 07:20] Tyler-Maclachlan opened #56 "WebGL Renderer"
Hi guys,

Firstly thanks for merging my changes from [visjs-community/visjs-network](https://github.com/visjs-community/visjs-network).

Seeing as the 'official' project is starting back up perhaps it is time to get rid of the canvas renderer and use something like [PixiJS](https://www.pixijs.com/) (they have a canvas fallback) to increase performance especially on super large graphs.

I'd be happ

[2019-08-08 07:13] at-hoangnguyen2 opened #57 "Can not render in IE 11."
Hey,
I had an issue when using Visjs on IE 11. UI was not rendered and the error was shown in the picture below

![Capture1](https://user-images.githubusercontent.com/26244995/62682033-54a10980-b9e5-11e9-976c-c5fe842e3e1d.JPG)

Browser: IE 11.
Version: 11.615.17763.0

[2019-08-08 07:51] mojoaxel commented on #57
dublicate of https://github.com/visjs/vis-util/issues/37

[2019-08-08 08:31] at-hoangnguyen2 commented on #57
@mojoaxel I am using Visjs-network version 5.2.0! Please check it again!

[2019-08-08 08:42] mojoaxel commented on #57
@at-hoangnguyen2 I can confirm this issue. It must be fixed in `vis-util`. Please wait for the next release.

[2019-08-08 11:38] nicolaslupinski commented on #12
Hi

This bug seems more related to rendering in a complex web page.

I've tried to add

`setTimeout( function(){ redrawAndFit(); redrawAndFit(); }, 1000);`

to my page, with

[code]

But it is still unable to prevent the rendering bug from happening.

I've tried putting an alert() after rendering event, in the bugged case I'm getting the alert before the canva is even put on screen.

The network r

[2019-08-08 11:38] #12 closed

[2019-08-08 18:08] mojoaxel commented on #12
Is this still an issue? Should we reopen?

[2019-08-09 05:43] wernerdaehn opened #59 "icon.fonts - choose other icon libraries"
Would love to get a higher degree of freedom in the network.nodes.icon.face option.
To be more concrete, these icons as well.
https://openui5.hana.ondemand.com/test-resources/sap/m/demokit/iconExplorer/webapp/index.html#/overview/SAP-icons

Quite frankly I don't understand why you cannot set any value there and it gets added as the element's style={font-family: xxxx}.

Thanks in advance for consid

[2019-08-09 08:07] mojoaxel commented on #59
this is related to #31

[2019-08-09 15:25] grovolis opened #60 "Init Load Zoom - Network.Js 5.2.1"
Hi all,

Since the last update vis-network@5.2.1/dist/vis-network.min.js, the fit() method and subsequently the initial zoom during network init seems to be broken and focusing on random places within the network.

Reverted back to the 5.2.0 and everything works fine, so it seems this has to do with the latest push.

Let me know if you need any additional information.

Thanks,
George

[2019-08-09 20:34] mojoaxel opened #61 "install a greenkeeper"
we should install a greenkeeper bot that auto-updates dependencies. This is especially important for dependencies on `vis-util` or `vis-data`.

[2019-08-11 14:36] mojoaxel commented on #60
I can confirm this:
https://visjs.github.io/vis-network/examples/network/layout/hierarchicalLayout.html

[2019-08-11 21:31] mojoaxel opened #65 "bundle css with rollup"
CSS bundling should be done with rollup (like e.g. in the timeline).
At the moment `vis-charts` completely ignores vis-timeline styles and don't bundles them.

[2019-08-12 00:59] richardeaxon opened #66 "Network and Graph2d not working in the same app"
We use both network and 2d charts in the same app. This worked fine in vis 4.x but no longer works. I get the following error:

`TypeError: vis.Network is not a constructor`

If the load order is

[code]
and

`TypeError: vis.Graph2d is not a constructor`

if the graph2d module loads first. It appears like the one module overwrites the other. The last module in the load order is the one that works.

[2019-08-13 14:16] MiselKING opened #67 "Error with Angular 8 - 'allowSyntheticDefaultImports' flag"
I just updated from `vis` to `vis-network` (I only need `vis-network` since I only use graph in my app) while updating to Angular 8. When I try and compile the app, I get an error:

in **../node_modules/vis-network/dist/types/index.d.ts:18:25**.
Complete error:

    736 export = moment;

`vis-network` version: 5.2.1
Browser: Chrome 76.0.3809.100, Windows 10

My **tsconfig.json**:
[code]
My **packa

[2019-08-13 16:15] ohsorry commented on #4
Is there any progress on this issue? My application scenario also needs to manually set the level of the node to layout. It seems that I can't help much, I just finished reading the documentation.

[2019-08-13 16:28] grovolis opened #68 "IE11 - Examples not working"
Hi all,

Just wanted to ask if the latest version of vis-network supports IE11? I couldn't find any coverage page on the website. If so, the last two versions I've tried seem to be broken for IE 11 (e.g [basic usage](https://visjs.github.io/vis-network/examples/network/basicUsage.html) example gets a console error `SCRIPT5007: Object expected
vis-network.min.js (25,36467)`

It has to do with the o

[2019-08-13 16:55] mojoaxel commented on #68
duplicate of #57

[2019-08-13 17:05] #68 closed

[2019-08-13 17:14] mojoaxel commented on #57
We need vis-util > 1.1.4 to be released. Than greenkeeper will pick up the change and release a new - hopefully fixed - version of vis-network.

[2019-08-13 18:23] #60 closed

[2019-08-13 19:06] Thomaash commented on #66
Should work correctly after all referencing PRs are merged and released.

[2019-08-13 21:30] greenkeeper[bot] opened #72 "An in-range update of vis-util is breaking the build 🚨"
## The dependency [vis-util](https://github.com/visjs/vis-util) was updated from `1.1.4` to `1.1.5`.

🚨 [View failing branch](https://github.com/visjs/vis-network/compare/master...visjs:greenkeeper%2Fvis-util-1.1.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

vis-util is a direct dependency of this project, and **it i

[2019-08-13 22:05] mojoaxel opened #75 "Auto-Release: The version in the source-headers does not get updated"
I just checked the release files. The dist-files all have a version of 0.0.0 in their header.
This should be fixed.

[2019-08-13 22:08] Thomaash commented on #75
In the repository no, there is no versioning in the repo. Versioning happens only using Git tags and NPM (see https://unpkg.com/vis-network).

[2019-08-13 22:14] mojoaxel commented on #75
That's good enough!

[2019-08-13 22:14] #75 closed

[2019-08-15 20:09] Thomaash commented on #4
Hi @UnicornDeluxe and @ohsorry,

I tried to fix the wrong layout part of this issue. It's really slow at the moment but seems to work correctly. Could you test it with your apps and give some feedback please? I'm not sure whether it's bullet proof.

- MWE 1: http://jsfiddle.net/m56qtkcu/
- MWE 2: http://jsfiddle.net/huwp23bz/
- URL for MWEs: https://raw.githack.com/Thomaash/vis-network/issues/4/di

[2019-08-16 07:35] UnicornDeluxe commented on #4
Hi @Thomaash,

looks to me like there are no wrongly directed edges anymore, congrats!
And the randomness when altering the order of the edges is also gone.

The levels itself are a bit weird tho, I guess the problem is your determining the level based on the parent nodes, resulting in a lot of nodes beeing placed at level 0 which would fit better at for example level 6 (as their sole child is lev

[2019-08-16 15:14] Thomaash commented on #4
@UnicornDeluxe Okay, so I've improved the performance and incorporated your advice. Could you check it out once more whether everything is alright please?

URL for MWEs: https://raw.githack.com/Thomaash/vis-network/issues/4/dist/vis-network.js

[2019-08-16 15:33] Thomaash commented on #65
Done.

[2019-08-16 15:33] #65 closed

[2019-08-16 19:43] mojoaxel commented on #65
fixed via #69

[2019-08-17 15:09] ohsorry commented on #4
@Thomaash
No layout problems for me now! I used vis-network to visualize dynamic neural networks, everything works very well. 👍

[2019-08-17 19:03] Thomaash commented on #59
Hi @wernerdaehn, could you provide an MWE please? Because this seems to work just fine to me: http://jsfiddle.net/wpcr1qfs/. Although you have to ensure that the icons are loaded before the initial rendering happens, otherwise they will appear only after zooming or similar actions.

[2019-08-17 19:09] Thomaash commented on #61
Resolved with #63.

[2019-08-17 19:09] #61 closed

[2019-08-17 19:32] wernerdaehn commented on #59
Well, that would be even better if this is just a doc issue. From your code I don't understand where the "Material Design Icons" get loaded and defined. Can you do me a favor and modify your code so that on of the SAP-Icons is used? Just to proof the point.

[2019-08-17 19:41] Thomaash commented on #59
I have no idea about SAP-Icons and I found no CDN link with the webfont, but simply load the CSS like this `<link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.0.96/css/materialdesignicons.min.css">
`.

[2019-08-18 08:08] wernerdaehn commented on #59
You are absolutely correct, this is a documentation-bug only. Yes you can specify any correctly defined font-family.
I use

    n.shape = 'icon';
    n.icon = {face: 'SAP-icons',
      code: '\uE0E5',
      size: 50,
      color: '#eeeeee'}

in a page where the font is defined already - within a OpenUI5 page the font is already defined, obviously - and it renders nicely.

[2019-08-18 09:01] Thomaash commented on #57
Hi @at-hoangnguyen2,

5.2.4 is released with a fix. Could you check whether it helps or not please? I don't have access to IE 11 at the moment.

Thanks.

[2019-08-19 06:06] UnicornDeluxe commented on #4
Hi @Thomaash it seems like it's not working anymore; the graph looks like https://user-images.githubusercontent.com/43786929/63149822-7dd52180-c005-11e9-816a-37feb5eb6816.png again.

Can you please upload the vis-network.js from "https://github.com/visjs/vis-network/issues/4#issuecomment-521779374" separately again so I can check?

[2019-08-19 10:04] at-hoangnguyen2 opened #81 "Shadow had been overlap on image SVG!"
Hi all,
I have a problem when using shadow in Visjs network.
When I zoom out the node have the image. It had been overlapped by shadow. So how can I fix this?

![68958223_1073690382824092_1167782087156039680_n](https://user-images.githubusercontent.com/26244995/63256839-a9c10300-c2a2-11e9-97a3-57d8b17eb897.jpg)

Browser: IE 11
Version: 11.678.17763.0

[2019-08-19 11:25] ydg2018 opened #82 "build broken with vis-network 5.2.4"
After updating vis-network to 5.2.4 in my angular project i keep getting build errors on util.d.ts in the vis-util library inside the node_modules of vis-network.

`ERROR in node_modules/vis-network/node_modules/vis-util/dist/types/util.d.ts(214,61): error TS1005: ',' expected.
node_modules/vis-network/node_modules/vis-util/dist/types/util.d.ts(214,62): error TS1005: ',' expected.
node_modules/vis

[2019-08-19 13:44] Thomaash commented on #4
@UnicornDeluxe glad to read it works. The crossing edges are indeed not part of the PR, it's only about the messed up levels. Edge crossing is, at least in my opinion, an unrelated issue that should have it's own issue opened.

[2019-08-19 14:56] UnicornDeluxe commented on #4
@Thomaash you are right, I will open another issue for the crossing edges.
What about the random layouting? A new issue aswell or as part of the crossing edges one?

[2019-08-19 14:58] Thomaash commented on #4
I would say 2 independent issues.

[2019-08-19 16:33] Thomaash commented on #82
Hi @ydg2018,

I just tested it and it doesn't happen to me. Could you provide an MWE please?

One thing to try is to update TypeScript, we use 3.5.3. Because this looks like the kind of error 3.3 tsc would show with 3.4 project but that's just wild guess.

Thanks.

[2019-08-19 16:35] Thomaash commented on #72
Resolved via #79.

[2019-08-19 16:35] #72 closed

[2019-08-19 16:38] Thomaash commented on #66
Hi @richardeaxon,

both Network (since 5.2.3) and Graph3D (5.0.1) has been updated to coexist with each other. Is there still an issue or is this resolved?

[2019-08-19 16:42] mojoaxel commented on #66
Closing as resolved.
If this is still an issue please raise your hand! ✋

[2019-08-19 16:45] Thomaash commented on #81
Hi @at-hoangnguyen2,

I don't have access to IE11 at the moment so I'm not sure if I can help you but could you provide an MWE for this please? You can adapt http://jsfiddle.net/wpcr1qfs/ to show your issue.

Thanks.

[2019-08-19 20:34] Thomaash commented on #67
I just don't see any solution here. Moment is UMD and therefore doesn't work without synthetic default import. I'm open to suggestions though.

[2019-08-19 22:57] mojoaxel commented on #67
[This](https://momentjs.com/docs/#/use-it/typescript/) should help:

via https://github.com/moment/moment/issues/4397

Or try setting the `esModuleInterop` flag to `true`.

via https://stackoverflow.com/a/56348146/722162

[2019-08-20 01:51] richardeaxon commented on #66
Unfortunately still not working for me. Did a fresh pull on vis-network and vis-timeline, copied each modules dist directory to test/dist, then copied my combined basic example script that contains both network and graph2d into the dist directory. Still get "Uncaught TypeError: vis.Graph2d is not a constructor". Test script attached.

[combined.zip](https://github.com/visjs/vis-network/files/35182

[2019-08-20 06:39] ydg2018 commented on #82
ah yes that is a good possibility as our project is still on 3.2.4 because an other library is not updated for the newer versions of typescript. I guess we are coming closer to a time where we need to update typescript and find other solutions for the old library :)
Thanks for the answer.

[2019-08-20 06:39] #82 closed

[2019-08-20 09:43] UnicornDeluxe opened #83 "hierarchical directed layout: random layouting"
Altering the order of the edges results in a different layout of the graph.
On this fiddle: http://jsfiddle.net/huwp23bz/ The above Graph shows the issue, each "Run" its layout changes. The bottom one shows the "how it should be" Graph.
To me it looks like the the order of the edges matters, because the edges are not sorted internally before beeing used.

[2019-08-20 09:46] UnicornDeluxe opened #84 "hierarchical directed layout: edge crossing"
The edge crossing bug seems to be [known](https://github.com/almende/vis/issues/3357) but it still would be nice if it gets fixed or at least if one could toggle if he want "optimazation but crossing" or "no crossing but no optimization" mentioned [here](https://github.com/almende/vis/issues/3357#issuecomment-322148978).

Maybe this is to some degree related to https://github.com/visjs/vis-network

[2019-08-20 10:02] Thomaash commented on #83
The question here is how should the edges be organized. Maybe the solution to #84 could also solve this or maybe not. I would go for #84 first because guaranteeing some order could interfere with #84. If this is still an issue after #84 is resolved then we can talk about this.

[2019-08-20 10:05] Thomaash commented on #84
Is it always possible to organize a hierarchy without any edges crossing? I think there will be cases where it's simply impossible in 2D space.

[2019-08-20 10:55] Thomaash commented on #66
Hi @richardeaxon, you're right. Vis Timeline is indeed still broken, although Vis Timeline issue would be more appropriate as there doesn't seem to be anything wrong with Vis Network.

[2019-08-20 11:18] MiselKING commented on #67
Ok, so after testing I can confirm that adding any of `allowSyntheticDefaultImports` or `esModuleInterop` to `true` works. I figured any of those would work, but I didn't want to add them because of `moment` (which I kinda don't care about)...
I guess we can wait a bit more and see if someone has a different approach, if not then I will close this issue since this fixes it...

[2019-08-21 07:06] UnicornDeluxe commented on #84
@Thomaash I do agree, in case of **cross references** between nodes, edges will have to cross each other. So there is not always a possibilty to organize a hierarchy without any edges crossing.

In some cases crossing can be avoided if "no edge crossing" is prioritised over "keeping the configured space between nodes".  (first graph of this fiddle shows what i mean http://jsfiddle.net/huwp23bz/)
T

[2019-08-21 07:16] UnicornDeluxe commented on #83
@Thomaash as the bottom Graph of http://jsfiddle.net/huwp23bz/ looks like a well built graph, the given order of the edges may be the way to go. The order beeing:
for nodes from 1 to 5
edges from x to y for x and y from 1 to 4
so basically:
[code]

[2019-08-21 14:11] dawidchodura commented on #84
I try to render a tree with hierarchical directed layout, but the edges get crossed. Would it help if it was possible to specify in the options that the graph is a tree (ie. no cross references), so that the algorithm could take a hint, while laying out the nodes?

[2019-08-22 10:30] Thomaash commented on #84
Hi @UnicornDeluxe and @dawidchodura,

I was thinking about this and I think we should add a new option which could look like this:
[code]

Do you think this would satisfy your needs?
Do you have any objections or improvements?

PS: If you can come up with better more descriptive names for the properties or string literals I'm all ears.
PPS: @mojoaxel do you want to join this discussion?

[2019-08-22 11:19] UnicornDeluxe commented on #84
Looks good to me.

Concerning the "best-effort" algorithm, I guess the _Reduction of the Number of Edge Crossings_ part of the [Sugiyama-Algorithm](https://www.researchgate.net/profile/Nikola_Nikolov2/publication/303226437_Sugiyama_Algorithm/links/59354e6f45851553b6f39e2e/Sugiyama-Algorithm.pdf) can help.

[2019-08-24 18:26] HughPH opened #89 "Network Canvas keeps growing vertically on window resize"
Chrome 76.0.3809.100 on Ubuntu 19.04

I'm using a table. Don't judge, please. I'm not looking for advice like "Don't use tables, then." If you really don't care (because nobody should be using tables) then fine. (I get the exact same behaviour if I use divs with layout:table-*)

The problem seems to be related to position:absolute; in the table's style.

[code]
[code]
[code]

[2019-08-24 19:30] Thomaash commented on #89
This is how HTML/CSS works, you're just styling it wrong.

Try this:
[code]

[2019-08-24 19:30] #89 closed

[2019-08-25 07:18] HughPH commented on #89
Of course, how silly of me ;)

Thanks Thomaash

[2019-08-27 00:19] DeZZar opened #90 "Intermittent issue with afterDrawing event"
Hi Team,

I am using the "afterDrawing" event to draw images over nodes using the 'drawImage' method on the passed in canvas context.  We are finding that at times the images intermittently dissapear and its difficult to track down why as it is not consistenly repeatable.

They can dissapear just by clicking on the canvas or a node or an edge or by resizing the window. Sometimes by navigating to a

[2019-08-28 03:19] DeZZar commented on #90
Just a little additional information that MAY assist with this.  I have also added the following line to print text straight after drawing the image and when the issue with the dissapearing images happens, the text is still rendered - it does not dissapear like the images do.

[code]

The images are simply PNG files referenced as their path.

Perhaps this is an asynchronous issue where the callbac

[2019-08-28 08:33] ydg2018 commented on #13
I've finally updated my typescript which gave me the possibility to update to 5.2.4 (without getting the weird errors in util.d.ts), but i still have the problem of the DataSet that is being used when importing as below:
`import { DataSet } from 'vis-network';`

With the above import it will use the DataSet version from vis-data and not the one that exists in vis-network. Which gives errors as the

[2019-08-28 08:48] abazylewicz opened #94 "Not working example changingClusteredEdgesNodes - edge color not changing"
I tried example from https://visjs.github.io/vis-network/examples/network/other/changingClusteredEdgesNodes.html but it didn't work as expected for updating edges. Clicking an edge, no matter clustered or not, did not changed it color to red (on Chrome, FF, Safari).

It looks like Clustering.updateEdge() method does not update the color of the edge, but works for changing stuff like value and labe

[2019-08-28 09:00] mojoaxel commented on #94
The description clearly states:

Looks like a bug or a bad description to me.

[2019-08-28 09:02] Thomaash commented on #94
Full color object instead of color string works fine:
[code]

[2019-08-28 12:20] patryk-uszynski commented on #56
I'm also interested in contributing to this.

[2019-08-28 14:49] mojoaxel commented on #56
@patryk-uszynski @Tyler-Maclachlan Maybe you guys could scan the code to find out where the canvas API is used. One first step could be to seperate the canvas API to than replace it with webgl. What do you think?

[2019-08-28 17:00] Thomaash commented on #90
Hi @DeZZar, are you sure the images are loaded? Canvas doesn't wait for I/O and simply skips anything it doesn't have. Since you create new images right before rendering there may not be enough of time to load them if they're not already cached.

In my experiments it doesn't work at all if caching is disabled. If caching is enabled it works reliably once the images are loaded and as long as they'r

[2019-08-28 17:11] bel0v opened #97 "is moment.js dependency really needed?"
Hi!
I've spotted there is a moment.js dependency which adds up quite a lot to bundle size. But I cannot really see it is used in the network module. Could you confirm it is needed?

I've found 2 cases:
1) `moment().utc().format()` // come on
2) usage in timeline examples, which belong in https://github.com/visjs/vis-timeline

Cheers!

[2019-08-28 17:13] Thomaash commented on #97
Number one is only dev dependency.

[2019-08-28 17:14] Thomaash commented on #97
It seems we don't need it at all except for backwards compatibility (some people are likely importing Moment through our bundle).

[2019-08-28 17:20] bel0v commented on #97
@Thomaash I could make a PR deleting it and it could be shipped in a major release in accordance to semver, what do you think?

[2019-08-28 17:23] Thomaash commented on #97
I think we should discuss it as part of #85 since there are more problems with dependency handling which require an overhaul of bundling.

[2019-08-28 22:15] patryk-uszynski commented on #56
@mojoaxel I'm working on some very basic POC version. As far I created separate `PixijsRenderer` class and assigned it in `Network.js` in place of `CanvasRenderer`. I need to make it customizable in config and start rendering nodes. After that I will open draft PR or something.

[2019-08-29 02:39] deepanshu11madan opened #100 "vis-network hierarchical sortMethod/level/layout issue"
![Screen Shot 2019-08-28 at 7 30 22 PM](https://user-images.githubusercontent.com/47491495/63905905-a3c9d100-c9ca-11e9-901b-0b926f96f830.png)
Does this [pull request](https://github.com/visjs/vis-network/pull/77) also fixes this layout issue I am seeing with my graph in the screenshot, it is assigning the  'END' node (shown by the pointer) to it's highest/upper most possible level. A lot of node p

[2019-08-29 06:31] DeZZar commented on #90
Thanks @Thomaash - appreciate the pointers.  I feel we MAY have resolved this.  The issue is to do with the timing of loading the images before they are rendered.  They are not present/referenced in the DOM at all so it doesnt really have anything to do with browser cache.

Instead what I've attempted is to create a method to load each icon into a map that is populated with loaded image objects.

[2019-08-29 08:25] EmpireDemocratiqueDuPoulpe opened #101 "Canvas height problem (resize)"
Hi,

I'm having a strange bug with vis-network _(last version)_ and the canvas. I'm using **Firefox Developer Edition** on **Windows 7**. Here is a preview:

![1vis](https://user-images.githubusercontent.com/45202304/63921484-2db58080-ca43-11e9-88ae-6de5d0c3b3d7.png)
![2vis](https://user-images.githubusercontent.com/45202304/63921498-3312cb00-ca43-11e9-93a2-a5c11d897e4f.png)

We can see that the c

[2019-08-29 08:31] Thomaash commented on #101
Hi @EmpireDemocratiqueDuPoulpe, isn't this the same problem as #89? Doesn't this solution help: https://github.com/visjs/vis-network/issues/89#issuecomment-524575105 ?

[2019-08-29 08:41] Thomaash commented on #100
Hi @deepanshu11madan,

I don't think it would solve your problem as you have cycles in your “hierarchy”. You can however try it out with the PR version of Vis Network: https://raw.githack.com/Thomaash/vis-network/issues/4/dist/vis-network.js . Also a bigger image would be appreciated.

Custom sorting method is being discussed in #84 but is not yet implemented.

[2019-08-29 08:44] #90 closed

[2019-08-29 08:44] EmpireDemocratiqueDuPoulpe commented on #101
Hi @Thomaash,
I'm not sure it's the same problem. Here is the HTML:

[code]
This is the CSS:
[code]

When I create the network, the canvas is slightly smaller than the container. If I manually change the size of the canvas with the console, the container also grows. It's very weird.

[2019-08-29 08:53] Thomaash commented on #101
Doesn't happen to me: https://jsfiddle.net/thomaash/1secrxdj/ . Could you provide an MWE please?

[2019-08-29 09:38] EmpireDemocratiqueDuPoulpe commented on #101
We can see the problem without pressing the button: https://jsfiddle.net/wymhxrug/
I have removed everything not needed.

[2019-08-29 09:47] Thomaash commented on #101
Hmm, it seems to be related to flex in Firefox.

[2019-08-29 10:01] EmpireDemocratiqueDuPoulpe commented on #101
Well, I forced the canvas height in `px`. Thanks for your help!

[2019-08-29 10:01] #101 closed

[2019-08-29 10:13] Thomaash commented on #101
Having `display: flex` in the outer container and `overflow: hidden` in the inner container at the same time triggers this in Firefox.

[code]

Not using flex makes this issue dissappear as well as the following (I'm not sure about consequences though):
[code]

[2019-08-30 10:52] omniflash commented on #57
Using version 5.2.4 with IE11 (11.950.17134.0), none of the network examples work...exception logged in ie console:
SCRIPT5007: Object.getPrototypeOf: 'this' is not an Object
vis-network.js (7074,9)

[2019-08-30 12:09] EmpireDemocratiqueDuPoulpe commented on #101
I didn't know that, thanks! I will see if it's better to remove `display: flex;` or `overflow: hidden;`.
Have a nice day

[2019-08-31 00:24] deepanshu11madan commented on #100
Thanks Thomaash for getting back to me. Is there any plans for the custom sorting enhancement discussed in #[84](https://github.com/visjs/vis-network/issues/84)?

[2019-08-31 03:32] deepanshu11madan commented on #100
Also, I did try PR version of Vis-network, it didn't make the the graph i added a screenshot for.

Custom sort would really help, i am looking to have something similar to topological sort

[2019-08-31 08:53] Thomaash commented on #100
Possible yes. You can always explicitly set the levels or just position your nodes manually. The sharp edge corners can be achieved by using hidden nodes in the corners. However there is no way how to do this automatically at the moment. The sort from #84 is mean to order nodes direct descendants horizontally so that's not helpful to you.

I think that this is not hierarchical layout at all. Diffe

[2019-08-31 09:33] Thomaash commented on #57
Hi @omniflash,

I don't have access to IE 11 so this is just a wild guess but could you try if this fiddle solves your issue: https://jsfiddle.net/thomaash/wzokfg04/ ?

[2019-08-31 16:09] deepanshu11madan commented on #100
yeah sharp edges isn't very important. More like getting the layout like that. I guess i can calculate levels myself, Do you know if there's a library to calculate levels? or do recommend any good efficient ways of traversals?
there's d3 graph lib, d3-dag layouts that would work, https://observablehq.com/@erikbrinkman/d3-dag-topological. but I really vis-network, and see if i can find a way to ach

[2019-08-31 18:17] mojoaxel commented on #56
Cool :rocket:

Feel free to open a Draft-PR at any time (best if you have something to show for).
After this big change we will need to test all the config-option and make sure all examples are still functional.

We should think about making the WebGL renderer optional!?

[2019-08-31 18:19] mojoaxel commented on #57
_(We should set up a browser stack account...)_

[2019-08-31 18:20] Thomaash commented on #57
We should…

[2019-08-31 18:25] mojoaxel commented on #57
@Thomaash We could use the vis-bot account for browserstack and share it. I'll take care of it..

[2019-08-31 19:56] r3code commented on #31
+1
Some SVG can be taken form here https://iconsvg.xyz/

[2019-08-31 20:12] mojoaxel commented on #31
We need replacements for the following icons:

![image](https://user-images.githubusercontent.com/600565/64068685-d0d0ea80-cc3b-11e9-997f-4200944e6421.png) ![image](https://user-images.githubusercontent.com/600565/64068691-d9292580-cc3b-11e9-85c0-3de90678f52d.png) ![image](https://user-images.githubusercontent.com/600565/64068697-efcf7c80-cc3b-11e9-8787-33f24541a12c.png) ![image](https://user-imag

[2019-08-31 20:55] #94 closed

[2019-08-31 20:55] #13 closed

[2019-09-01 15:08] ashwinkumar6 opened #103 "Documentation, broken link"
The following hyperlink (present under network-> edges ->  smooth -> smooth.type)
throws a 404 page not found Error
https://visjs.org/examples/network/edgeStyles/smooth.html

[2019-09-01 15:14] Thomaash commented on #103
Where exactly did this link come from? Clicking through the page I got this instead: https://visjs.github.io/vis-network/examples/network/edgeStyles/smooth.html .

[2019-09-01 15:15] Thomaash commented on #103
Oh, it came from the docs. That's indeed broken.

[2019-09-01 15:20] Thomaash commented on #103
Broken link is on https://visjs.github.io/vis-network/docs/network/edges.html .

PS: @ashwinkumar6 next time post a link to the page with the broken link please. A list of steps to click through can be easily misunderstood.

[2019-09-01 20:59] r3code opened #105 "Feature-Request: support image padding for the image shape"
I'd like to add a feature to set a padding around the image located inside the image shape. It would help to show the shape color for any images as for now to achieve this you need to use PNG with transparent borders inside the image to mimic such behavior.
I have already some code and example [here in my fork](https://github.com/r3code/vis-network/commit/ccedba321b72bc0885875ba0e0d9337c54a95c56).

[2019-09-01 21:19] Thomaash commented on #105
Hi @r3code,

I don't have anything against such feature. Your repo however doesn't seem to contain the source code, only the example and the distribution bundle. After you commit the source files feel free to open a PR where we can discuss it in greater detail including the implementation.

Thanks.

[2019-09-01 21:52] r3code commented on #105
@Thomaash I just tried at dist yesterday ) Today I'll put in modules

[2019-09-02 07:23] omniflash commented on #57
Hi @Thomaash! Sorry, I only could check it now...unfortunately its not working still, but now there is a different error:

SCRIPT438: Object doesn't support property or method 'isFinite'
vis-network.644b7d3a4855ea0563eb6c87e5124fe9.js (36427,13)

[2019-09-02 07:31] #103 closed

[2019-09-02 07:34] #59 closed

[2019-09-02 09:47] Thomaash commented on #57
Yes! We're getting somewhere. Try this next: https://jsfiddle.net/thomaash/wzokfg04/7/ .

[2019-09-02 09:54] omniflash commented on #57
Yesss! :)) Its displaying.

[2019-09-02 10:18] Thomaash commented on #57
Okay, so we need core js 3 to properly polyfill IE11. I'll have to make some changes to the way bundling is done in the entire visjs family. That may take a while.

[2019-09-02 10:54] omniflash commented on #57
I know its the worst question, but how much time you think? Asking bc its needed for a deadline project for me ;) And thank you in advance, very swift reaction :) Other option for me is to try the last version which is still working in IE11 and handles" controlNodeDragEnd" event.  Are you maybe aware of any version that may be good for me in the meanwhile?

[2019-09-02 10:59] r3code opened #107 "Firefox fails to render SVG at image shape"
During work at #105 I noticed that Firefox couldn't process SVG from external file but Chrome works fine.
What you see in Chrome (all OK)
![vis-svg-chrome](https://user-images.githubusercontent.com/1355056/64109902-544c2200-cd89-11e9-95dc-39c283016cd4.jpg)

What you see in Firefox 68 (SVG dimensions detected wrong)
![vis-svg-ff](https://user-images.githubusercontent.com/1355056/64109891-4d251400-c

[2019-09-02 11:01] Thomaash commented on #57
I'm not sure how long but it is a big change I want to discuss with others (as it among other things affects all of our projects.) It could be a few days or even more.

I can publish a pre release outside of the normal versioning (to not affect other people with possible errors, overlooked breaking changes…) that you could pin in your package.json, would that be helpful?

[2019-09-02 11:13] r3code commented on #107
Let's call Image - the Image Shape, Picture - the image drawn inside the Image Shape.
I think there should be a fallback option for such cases something  like `fallbackPictureSize` if it possible.

[2019-09-02 12:09] omniflash commented on #57
i will check and get back to you, but few days i think is not an issue ;) thank you very much!!

[2019-09-02 13:09] omniflash commented on #57
Ok, so I just checked your commit and quickly changed it in the compiled js. The graph now is visible, still getting the same error in console when changing arrows or direction via buttons, but they seem to work fine nevertheless. The events tho doesnt seem to fire...
`		 	network.on("dragEnd", function (params) {
		 		var controlEdge = params.controlEdge;
		                alert(JSON.stringify(co

[2019-09-02 16:30] Thomaash commented on #57
What commit are you talking about? If you mean #85 that doesn't have the fix (https://github.com/visjs/vis-util/pull/55) for vis-util and therefore won't work. If you're talking about https://github.com/visjs/vis-util/pull/55 that uses core-js 2 and therefore won't work either. You need to have both at the same time, checking only one out is not enough.

If you just want the dist fixed for IE11 yo

[2019-09-02 17:15] greenkeeper[bot] opened #109 "An in-range update of @typescript-eslint/eslint-plugin is breaking the build 🚨"
## The devDependency [@typescript-eslint/eslint-plugin](https://github.com/typescript-eslint/typescript-eslint) was updated from `2.0.0` to `2.1.0`.

🚨 [View failing branch](https://github.com/visjs/vis-network/compare/master...visjs:greenkeeper%2F%40typescript-eslint%2Feslint-plugin-2.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the

[2019-09-03 06:40] witur opened #111 "overriding defaultGroups color"
Overriding defaultGroups background color does not work when at least one node.value is set.

[example](https://jsbin.com/sihuwag/edit?html,output)

[2019-09-03 06:57] omniflash commented on #57
Oh ok, gotcha. The one you uploaded works perfectly, thank you very much! I can use this until the next release, which contains these fixes. Hats down for the fast support!! :)

[2019-09-03 08:07] #109 closed

[2019-09-03 08:36] JKostov commented on #67
Can the es6 export/import syntax be used in the moment type module file?
[code]

[2019-09-03 09:04] Thomaash commented on #67
Hi @JKostov,

no this doesn't work. In the end you are still importing UMD module and that just doesn't work without allowSyntheticDefaultImports.

[2019-09-03 13:32] UnicornDeluxe commented on #4
Hi,
sad but this isnt fixed with https://raw.githack.com/Thomaash/vis-network/issues/4/dist/vis-network.js. Take a look at this http://jsfiddle.net/3zd5jtcf/ fiddle. The top graph is the current status, with wrongly directed edges. The bottom one is the correctly leveled one, with not wrongly directed edges.
I assume this is because when determining the level of each node as described in https://g

[2019-09-03 13:52] Thomaash commented on #4
Hi @UnicornDeluxe,

it is fixed. I just messed up updating dist (again :disappointed:) after merging upstream changes. It should be fine now.

[2019-09-03 13:53] #4 closed

[2019-09-03 20:01] #111 closed

[2019-09-03 20:07] r3code commented on #105
Feature added by PR  https://github.com/visjs/vis-network/issues/106 at https://github.com/visjs/vis-network/commit/7e4aff667119eb538e88809fac8afcce58014803

[2019-09-03 20:07] #105 closed

[2019-09-03 21:10] mojoaxel commented on #40
- https://github.com/daniel4thsource/vis/commit/8c05572a695236913e552b5f0ccb1acaa9cd0929
- https://github.com/daniel4thsource/vis/commit/9b8509643eb1d85e7957004b8a1b66831125378e

[2019-09-03 21:26] object404 opened #113 "I can't seem to change node label color and size at the same time."
So I'm using this code to try to change node size/label color on click:

network.body.nodes[id].options.size = newSize;
network.body.nodes[id].options.font.color = newColor;

Then I follow it with:

network.body.emitter.emit('_dataChanged');
network.redraw();

The problem is that if I call network.body.emitter.emit('_dataChanged'), the node size no longer changes, but label color changes. If I don

[2019-09-03 21:30] Thomaash commented on #113
Doesn't _dataChanged reload data and overwrite what you manually set into
the internal nodes? I think you're better of just changing it in your data
set.

On Tue, Sep 3, 2019, 23:26 Carlos Nazareno <notifications@github.com> wrote:

[2019-09-03 21:34] Thomaash commented on #113
Example:
https://visjs.github.io/vis-network/examples/network/data/datasets.html

On Tue, Sep 3, 2019, 23:30 Tomáš Vyčítal <tom.vycital@gmail.com> wrote:

[2019-09-04 06:18] clemarcou opened #114 "Updating edges ends in hierarchical layout doesn't reset the layout"
If one decides to update the `from` or `to` property of an edge, the hierarchical layout might have to be recomputed. This behavior is currently not supported.
Here is an example:
https://jsfiddle.net/57j0pugd/
Just click on the update button and you'll see the behavior. Calling `setupHierarchicalLayout` fixes it after a redraw.

My understanding of the problem is that `Edge.setOptions()` doesn't

[2019-09-04 15:03] ajorg-aws opened #116 "Remove Shapes4FREE icons"
The documentation uses [external link icons](https://github.com/visjs/vis-network/tree/master/docs/img/external-link-icons) from [Shapes4FREE](http://www.shapes4free.com). The [Shapes4FREE License](http://www.shapes4free.com/license/) is not an open source license (does not allow redistribution). There are comparable icons available from open source icon libraries. For example, [Feather](https://f

[2019-09-04 15:24] mojoaxel commented on #116
@ajorg-aws Thanks!
We should replace these icons!

[2019-09-05 10:35] r3code commented on #31
Pure CSS Close (cross) Icon https://codepen.io/Bharek/pen/XJvVLj

[2019-09-05 10:37] r3code commented on #31
Should we maintain colours of icons? I think it would be better to have single colour icons aka flat.

[2019-09-05 11:32] mojoaxel commented on #31
:+1: I also think we should get rid of the colors. If we use inline SVG maybe the user could change the color with custom css later.

[2019-09-05 12:20] r3code commented on #31
It could look like this, I just created a branch in my fork to test icons, a took some icons from iconsvg.xyz and some if them I drawn myself.
![vis-nav-controls](https://user-images.githubusercontent.com/1355056/64341163-73002200-cff0-11e9-8c83-f703dca78d20.jpg)

[2019-09-05 12:35] mojoaxel commented on #31
Wow! This would be a perfect replacement!

For me it is important that we get rid of the single image-files. They should be included e.g. as data-urls inside in its own css.

[2019-09-05 12:46] r3code commented on #31
Hmm. I can try to embed them as data:svg+xml into CSS

[2019-09-05 13:14] r3code commented on #31
If I embed like this - users can not change the color of the SVG.
`div.vis-network div.vis-navigation div.vis-button.vis-zoomExtends {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='vis-icon vis-icon--zoom-extends' width='30' height='30' viewBox='0 0 24 24' fill='none' stroke='%23808080' stroke-width='2' stroke-linecap='square' stroke-linejoin='arcs'

[2019-09-05 13:19] Thomaash commented on #31
What about `stroke='currentColor'`?

[2019-09-05 13:25] r3code commented on #31
@Thomaash what do you mean?
if we use SVG as background-image we have no access to it's internals. We can only apply CSS colors when SVG is inlined into HTML.

[2019-09-05 13:29] r3code commented on #31
It can ba applied only to inlined <svg>. Css not applied to other documents, when SVG is data:image it treated like external doc.

[2019-09-05 13:34] Thomaash commented on #31
You have hardcoded color in your SVG `stroke='%23808080'`. Just try to replace it with `stroke='currentColor'` then it should respect the color set by CSS.

[2019-09-05 16:07] r3code commented on #31
It won't work. Take a look https://jsfiddle.net/v3ag0cs6/37/

[2019-09-05 16:12] Thomaash commented on #31
The value `currentColor` uses the text color (`color`) not `stroke`, see updated: https://jsfiddle.net/thomaash/x67gLzpa/ .

[2019-09-05 16:42] r3code commented on #31
But it's only for inline SVG. Here my updated example https://jsfiddle.net/q9Lh017r/1/
CSS is not applied to data-url encoded SVG.
The only way to allow users change the color is to inline SVG.

[2019-09-05 16:48] Thomaash commented on #31
Oh, you're right.

[2019-09-05 19:14] ashwinkumar6 opened #118 "Edge arrow improperly aligned when smooth type is cubicBezier"
**Steps To Reproduce**
*`edge smooth` type is set to `cubicBezier`
[code]
* enable `arrow` on `middle` of the edge
[code]
**Expected Behaviour**
Arrow should be placed at the centre of the edge

**Actual Behaviour**
Arrow is placed either above or below the edge

**Basic Information**
browser: Chromium (74.0)
OS: Linux (Ubuntu 16.04)

**Code Example**
[fiddle example](http://jsfiddle.net/ashwinkum

[2019-09-05 19:33] Thomaash commented on #118
It seems to align correctly only when the bezier curve is straight (horizontal and vertical lines) but otherwise it doesn't even align with a straight line: http://jsfiddle.net/thomaash/1ecmw3ra/

[2019-09-05 19:37] Thomaash commented on #118
Okay, so the example you provided uses ancient version of vis, not even vis-network.

[2019-09-05 19:39] Thomaash commented on #118
With current vis-network it aligns perfectly with a straight line: http://jsfiddle.net/thomaash/1ecmw3ra/5/.

Still an issue though as it doesn't align with the curve that is being rendered.

[2019-09-05 20:07] r3code commented on #31
@Thomaash I propose at first to replace PNG to SVG - it the fastest way. Next we can open another issue to "embed svg icons into JS".

[2019-09-05 20:08] r3code commented on #116
Related #31

[2019-09-05 20:09] r3code commented on #116
We can use instead of https://github.com/visjs/vis-network/blob/master/docs/img/external-link-icons/external-link-icon.png a "shortcut" icon from https://iconsvg.xyz/

[2019-09-05 20:10] Thomaash commented on #31
We can do it in two stages.

[2019-09-05 20:14] r3code commented on #116
`<svg xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="3" stroke-linecap="square" stroke-linejoin="arcs"><g fill="none" fill-rule="evenodd"><path d="M18 14v5a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8c0-1.1.9-2 2-2h5M15 3h6v6M10 14L20.2 3.8"/></g></svg>`

![img](https://user-images.githubusercontent.com/1355056/64377302-cdba6d80-d032-11e9-

[2019-09-05 20:16] r3code commented on #31
OK. I'll do the first - PNG to SVG replacement. It almost ready

[2019-09-05 20:24] Thomaash commented on #31
Although we may cause some problems to people using this. They now have their .png images and we'll start loading .svg images which they don't have. It will be better to do it all at once so we can just say “hey, you no longer need the images” instead of making them update them just to throw 'em away with the next release.

[2019-09-06 07:46] r3code commented on #31
@Thomaash ok. So you propose to inline the SVG to the JS code?

[2019-09-06 08:10] mojoaxel opened #119 "update issue and PR templates"
We should update the issue and RP templates on github.
see also:
- https://github.com/visjs/vis-network/community
- https://github.com/visjs/vis-network/tree/master/.github

[2019-09-06 09:23] Thomaash commented on #31
Yeah, although I would like them more inlined in CSS but since SVG injected into HTML from JS can be colored using CSS (some people will definitely appreciate this) I'd go with inlining into JS.

[2019-09-06 18:46] #118 closed

[2019-09-08 04:42] deepanshu11madan commented on #100
are there any plans to include Sugiyama-Algorithm layout with vis.js?

[2019-09-08 18:33] mojoaxel commented on #31
A little of topic but here is a litte example ho to replace the images with simple unicode icons (without optimization):
https://stackoverflow.com/a/45307412/722162
![image](https://user-images.githubusercontent.com/600565/64492755-cafc8a00-d277-11e9-8951-6b35cf894495.png)

[2019-09-08 19:52] r3code commented on #31
@Thomaash I have finished the replacement https://github.com/r3code/vis-network/commit/0394ef629f41ef3b728888a11ba32f7b7187754c
@mojoaxel Hmm. So what is better?

[2019-09-09 07:18] r3code commented on #31
I  propose to use SVG icons by default and add an extra example how to replace navigation buttons.
For 90% of users SVG buttons is pretty enough IMO. Other can override CSS using the example https://github.com/visjs/vis-network/issues/31#issuecomment-529229893 by @mojoaxel

[2019-09-09 11:01] Thomaash commented on #31
We should not use UTF-8 characters as icons. We do not ship any font and therefore there is no guarantee that the characters rendered will look the way we want them to look. We could end up with quite different characters or even rectangles or question marks if someone's font doesn't have these characters (who knows what fonts are people using on their pages or in their browsers in case of default

[2019-09-09 11:18] Thomaash commented on #31
I have a few questions and objections to the draft:
- Manipulation GUI:
  - Why are the icons in circles? If you want to keep the circles (I would remove them personally) make them align with the edges of the buttons their in (the way it was before).
  - Why are some of the icons in circles so close to the circle? Their almost touching it. It looks really weird when some are nicely spaced and some

[2019-09-09 13:39] r3code commented on #31
Looks familiar.

Maybe because I draw myself very fast just to show others.

Mistake )

Maybe.

I'd suggest to place it top left on the place of the Edit button, so when a user presses the Edit button it turns to "Close" button.  So the toolbar would become more friendly. It would have: Close, Add Node, Add Edge buttons by default.
For me its counter-intuitive to have all buttons in one style and

[2019-09-09 13:43] Thomaash commented on #31
I like the idea of having `Close        Add Node   Add Edge   …` buttons.

[2019-09-09 14:48] r3code commented on #31
Fixed https://github.com/r3code/vis-network/commit/35c0f9b127e465bcd864d051a37c545da301d694

[2019-09-09 16:34] evilmomo commented on #57
Quick question... Will the dist fixed files help with the timeline not displaying in IE 11 as well?

[2019-09-09 17:34] Thomaash commented on #57
No. The dist files contain only Network. However Util which is used in Timeline is already fixed and works in IE11 (the other issues were in Network codebase) so it should be enough to update Util to 1.1.7+ in Timeline and rebuild.

PS: This assumes that there are no issues in Timeline itself.

[2019-09-09 18:38] mgobishop opened #121 "clickToUse error?"
Hi - I'm using v5.4.1. I'm using timeline and network in the same UI. When I set clickToUse to true I get the following error on first click... Any ideas? Thanks.

[code]

[2019-09-09 18:44] Thomaash commented on #121
Hi @mgobishop,

I'm sorry but without an MWE I have absolutely no idea what's going on.

[2019-09-09 19:14] r3code commented on #121
@mgobishop provide an example, actions how to reproduce it.

[2019-09-10 00:56] FizzBuzz791 opened #122 "Network - EdgeEdge/EditWithoutDrag return complex objects"
The `edgeData` that is passed to the `EditEdge`/`EditWithoutDrag` function is a complex object, rather than a standalone edge (perhaps there's a reason for this, documentation is lacking...) and the callback then fails with "Cannot read property 'connected' of undefined" at e.value (vis-network.esm.min.js:13426).

I suspect this has to do with the fact that `edgeData.from` is an object (the "from"

[2019-09-10 03:07] rdrgn opened #123 "Add 'files' to package.json to reduce the install size"
I found that installed `vis-network` contains a lot of files needed only during development.
Why not add `files` to package.json?

[code]

cf. https://docs.npmjs.com/files/package.json#files

[2019-09-10 09:00] Thomaash commented on #123
We can't do this because the building process is broken (see #85). We need the source files to build vis-charts where all the packages can properly work together.

[2019-09-10 09:15] Thomaash commented on #122
This is definitely a bug not an undocumented feature. We're leaking internal objects from the library which is something that shouldn't happen. Also the variable names in the code suggest it should be the id only.

[2019-09-10 11:48] cburghardt opened #126 "Constantly moving nodes"
I have just added a network map to the z-wave implementation of iobroker using vis.
Now 2 users have reported that their network map is constantly moving. Issue is here including screen caps:
https://github.com/ioBroker/ioBroker.zwave/issues/76

Does anybody have a point how that can be resolved? Disable physics?
On another note, is there a chance to optimize the map when the nodes have a lot of c

[2019-09-10 12:25] Thomaash commented on #126
Hi @cburghardt,

could you try if it still happens with Vis Network 5.4.1? Also an MWE would really help to speed everything up.

Thanks.

[2019-09-10 12:30] Thomaash commented on #126
Regarding performance straight edges are much faster than the default smooth ones (you can see the difference on https://visjs.github.io/vis-network/examples/network/other/performance.html if you add a lot of nodes). Also you can remove edges altogether when moving which improves performance a lot usually without much of an impact on usability.

[2019-09-10 12:32] Thomaash commented on #126
Disabling physics (if you don't need physics, it will also greatly improve performance) will likely solve this however I don't really know what's going on without an MWE.

[2019-09-10 16:25] cburghardt commented on #126
Unfortunately that network is generated dynamically so I even can't reproduce it. But I will give it a shot with disabled physics.
What kind of change of 5.4.1 would help?

[2019-09-10 16:28] Thomaash commented on #126
Since I have no idea what is wrong, who knows what change could help.

[2019-09-10 20:12] r3code commented on #116
@mojoaxel maybe we just remove them? I didn't find any reference in vis-network files.

[2019-09-11 05:23] cburghardt commented on #126
Fixed by disabling physics

[2019-09-11 05:23] #126 closed

[2019-09-11 08:27] #122 closed

[2019-09-16 13:09] r3code commented on #116
You propose me to delete them by myself for all the projects you have listed?

[2019-09-16 13:47] Thomaash commented on #116
If you want to you can. My motivation for opening these additional issues and not doing it myself was that this is a straightforward thing for first time contributors who don't have deep insight into the project but still want to contribute. You know something easy that anybody can do and then maybe work their way up to more complex contributions.

[2019-09-16 17:01] rochappy opened #128 "How does vis-network get the real-time position of the center of the node and the top left corner under any circumstances?"
I hope that the coordinates of the node and the upper left corner can be obtained in real time. In any case, for example, the position of 'node1' is obtained when zooming in. After the node is moved, it is a new position. It should be changed. The distance from the red dot should be calculated.

[code]

[code]

[code]

- component: **vis-network**
- vis-network version: **latest version**
- browse

[2019-09-16 17:26] Thomaash commented on #128
[code]

PS: This is more of an StackOverflow question though.
PPS: Use numeric version instead of latest, especially if your “latest” is three years older than the latest.

[2019-09-16 17:28] Triet opened #129 "Support for multiple labels on one edge"
Edges can only have 1 label. I want to request multiple labels on an edge. This will be useful for single bidirectional edge.

[2019-09-16 17:35] Thomaash commented on #129
Can't you just label your edges like
[code]
or
[code]

If this is not acceptable solution way more information will be needed to discus this. Like how should the labels be placed, should there be from, middle and to labels or do you imagine something different, do you want the labels near the middle, near the arrows etc.

[2019-09-16 17:44] Triet commented on #129
I was looking at this issue from the old repo. It would be nice if the labels were near the node. You can see examples on that issue.

https://github.com/almende/vis/issues/2104

[2019-09-16 18:05] rochappy commented on #128
[code]
Your reply is too fast, very timely! You are right! Perfect problem solving. Thank you for your thoughts and have made changes on your basis.This is the result I want.

Thank you! I will adjust to use the digital version to ask questions, and pay attention next time.

Thanks again!

[2019-09-16 18:58] #128 closed

[2019-09-17 10:17] mgobishop commented on #121
I'm still investigating... I'm finding it hard to track down the cause but the error is thrown in this code... Any suggestions?

Activator.prototype._onTapOverlay = function (event) {
  // activate the container
  this.activate();
  event.stopPropagation();
};

[2019-09-17 10:23] mgobishop commented on #121
I have multiple visjs components (timeline, graph and network) on the same page i.e. multiple vis-overlay divs. Could it be something to do with that?

[2019-09-17 10:27] Thomaash commented on #121
Definitely, that's broken at the moment see #85. At the moment it is best to just use vis-charts as it works these issues around by building everything from sources.

[2019-09-17 10:29] Thomaash commented on #121
With timeline and network in the same page I can't get them to work at all. Whichever is loaded last works and the other either does nothing or throws errors.

[2019-09-17 10:33] mgobishop commented on #121
Great thanks. I commented out the vis-timeline css and html and I now don't get the error on the network. However, clickToUse seems to be not happening even though I set it as true. I made a little network html page standalone and it doesn't work there either... it only works when I include vis-timeline... Am I doing something wrong?

var options = {
			layout:{
				randomSeed: 2
			},
			physics:

[2019-09-17 10:41] mgobishop commented on #121
I'm using vuejs as a front-end framework and everything has been fine other than this. Each visjs component is handled by it's own vuejs component so maybe that's why it has been working for me. I'm guessing the problem is because there are multiple elements in the dom with the same id?

[2019-09-17 10:57] Thomaash commented on #121
The fact that you bundle it makes a huge difference. Things are a bit broken when bundling but as long as you don't import DataSet from timeline and try to use it in network or something like that, everything should work just fine. Using vis-charts shouldn't make much of a difference here except that vis-charts is a bit outdated (it provides network 5.2.4).

[2019-09-17 11:05] Thomaash commented on #121
Click to use indeed seems broken: https://jsfiddle.net/thomaash/2dr8hLy7/.

I don't get any errors though.

[2019-09-17 11:43] mgobishop commented on #121
Correct. So for me... 1) clickToUse isn't working in vis-network - it doesn't throw an error 2) I get an e.stopPropogation error when setting clickToUse to true on a vis-network when it's bundled with vis-timeline.

I'm guessing that if clickToUse is fixed then it might all start working again :-)

[2019-09-17 13:23] UnicornDeluxe commented on #121
If the goal is to use both timeline and network on the same page, this can be achieved by using vuejs and splitting timeline and network in 2 different vue components. It then works perfectly fine.

[2019-09-17 13:28] mgobishop commented on #121
Hi. Yes it does, it's great! UNLESS, as far as I can see when using the latest version of vis-network, you set both to be clickToUse:true. Then I get the error described above.

[2019-09-17 13:44] UnicornDeluxe commented on #121
You are right.

[2019-09-17 14:06] UnicornDeluxe opened #130 "multiple group membership"
It would be nice if nodes could be assigned to more than one group.
So `node["group"]` can be both: a _string_ of the sole group like `"groupname"` or an _array_ containing the different group names like `["group1", "group2"]`.

[2019-09-17 19:05] Thomaash commented on #130
Some brainstorming questions:
- What if there is a conflict (for example two groups set the color)?
  - Throw an error?
  - Add priority into groups?
  - Make the order matter?
    - First applies, other ignored?
    - Next overwrites previous?
  - Add explicit priority to the node.group list?
  - Blend the values (may not be always possible or make sense)?
  - Different treatment based on what ma

[2019-09-18 08:19] UnicornDeluxe commented on #130
- What if there is a conflict?
    - Make order matter: next ovewrites previous, unless priority is specified.
- If both group and groups are set
    - Simply add group (first) into groups if its not there already
    - Making groups an alias to group sounds good, i would go for merge

[2019-09-18 13:14] UnicornDeluxe opened #131 "Adding many nodes and edges takes forever"
Hey,
vis-network does an awesome job displaying networks. Even with a large number of nodes/edges (>500) everything simply works.
HOWEVER, if one tries to add such a large number of nodes later on, by calling the _add_ function on the corresponding _DataSet_ object it simply won't do.
Check out this fiddle to see what i mean: http://jsfiddle.net/qhxj7n9w/
Adding 50 nodes & edges to an existing net

[2019-09-18 13:17] Thomaash commented on #131
Your MWE adds node with duplicate ids. That's why it doesn't add anything.

[2019-09-18 13:18] Thomaash commented on #131
Also why are you adding them one by one? Just pass the array to add them in bulk, that's way faster.

[2019-09-18 13:19] Thomaash commented on #131
See http://jsfiddle.net/thomaash/hjz8x72m/. It's very slow but it works.

[2019-09-18 13:20] Thomaash commented on #131
Much faster: http://jsfiddle.net/thomaash/hjz8x72m/2/.

[2019-09-18 13:25] UnicornDeluxe commented on #131
Yes I just noticed, updated it.

Am I stupid, or was that just not described anywhere?

Thanks :D

[2019-09-18 13:25] #131 closed

[2019-09-18 13:27] Thomaash commented on #131
The first DataSet example starts with:
[code]

So there's no problem in the docs.

[2019-09-18 20:19] Thomaash commented on #41
This won't be that simple. Click to use is based on overlay that swallows events. The mouse down would be swallowed by the overlay anyway and another mouse down would be necessary to drag nodes around. This would require either synthetic events (these could be a bit tricky) or complete overhaul of click to use.

[2019-09-19 12:53] cburghardt opened #133 "Nodes overlap"
I am trying to find a way to ensure that the nodes of my heavily connected z-wave network overview don't overlap and it is therefore easier to read.
I create the network like this:
[code]
container is sized to 100% width and height.
I have attached an example data structure.
[data.json.zip](https://github.com/visjs/vis-network/files/3631260/data.json.zip)

Any ideas?

[2019-09-19 13:12] Thomaash commented on #133
Hi @cburghardt,

have you tried playing with gravitationalConstant, springLength and other physics options? You can experiment on https://visjs.github.io/vis-network/examples/network/physics/physicsConfiguration.html.

[2019-09-19 13:17] Thomaash commented on #133
You can use `network.stabilize()` to run physics just once.

[2019-09-19 14:59] cburghardt commented on #133
So I would add the physics options to the configuration, keep "enabled" as false and then run the stabilize()?

[2019-09-19 15:02] Thomaash commented on #133
Exactly.

[2019-09-20 14:25] lmcadory opened #134 "Type Script error creating networks"
Creating edges is throwing a typescript error.

If I have something like this:
[code]

Then do:
[code]

I get the following error:
[code]

The only way I seem to get around this is if I create my edge array using a loop.
If I repurpose your exampleUtil.js getScaleFreeNetwork function and change the return statement to use vis.DataSet(arrays) everything works fine.

I've also created a StackOverflo

[2019-09-20 17:07] Thomaash commented on #134
There's no issue with Vis Network or Vis Data Set. I'll answer this on StackOverflow.

[2019-09-20 17:07] #134 closed

[2019-09-20 17:09] Thomaash commented on #133
Since communication ceased I assume there's no issue anymore. Feel free to reopen this if that's not the case.

[2019-09-20 17:09] #133 closed

[2019-09-20 17:15] Thomaash opened #135 "TypeScript examples"
Since Vis Network has official TypeScript support now there should be examples in TypeScript to help people get started.

[2019-09-20 18:59] bel0v opened #136 "Are nested nodes possible?"
Hey!
I wonder if it is yet possible to visualize a "part-of" relation by nesting nodes within nodes like asked in this old thread:
https://github.com/almende/vis/issues/3293

Back then there was no straight way to do that, but maybe that's changed now? How would you advise to approach it? My first thought is generating a sort of svg representing inner nodes, but that looks quite hacky and low leve

[2019-09-20 19:13] Thomaash commented on #136
Hi,

I'm afraid there's no simple way to do this. What comes to my mind is manually positioning and sizing the nodes so that it appears correct (even though there's no connection between them) or rendering the outer nodes manually to the canvas using rendering events. Depending what exactly you want to achieve (an image would help) I may come up with more concrete advice.

[2019-09-20 19:50] bel0v commented on #136
The main idea is that I want to visualize different types of relations. Here, a thick arrow( ⇒) is a "part-of" relation, thin arrow (→) is another one (say "has-a") and a dashed line (┇) is a third one.
<img width="200" alt="Screenshot 2019-09-20 at 22 29 25" src="https://user-images.githubusercontent.com/2889382/65353637-4e15cc80-dbf6-11e9-82e5-c77e21f48203.png">
<img width="200" alt="Screenshot

[2019-09-21 19:24] PrzemyslawKlys opened #137 "Is there a way to prevent border to appear when highlighted?"
Each example shows square with a border. While you can disable border in CSS

![image](https://user-images.githubusercontent.com/15063294/65378233-ede65f80-dcb5-11e9-9531-c6390b378eb2.png)

[code]

It still shows up when you start interacting with a diagram. Is there a way to disable it completely? Sorry for noob question.

[2019-09-22 10:48] sunziping2016 opened #138 "possibly wrong E_sums in KamadaKawai.js"
I'm trying to read the layout part code of visjs, but I found [this line](https://github.com/visjs/vis-network/blob/master/lib/network/modules/KamadaKawai.js#L241 ) confusing.

It seems `dE_dx` or `dE_dy` should be the sum of the whole row (or column identically) of `E_matrix`, but it's only the sum of the row in upper triangle of `E_matrix`.

For example, when calculating energy of 3 points, `E_s

[2019-09-22 12:02] Thomaash commented on #137
This is an accessibility feature of web browsers. AFAIK you can't disable it. The only way I know of is to add negative margin to the canvas so that the border is outside of the window or hidden bellow nearby opaque elements.

[2019-09-22 12:02] #137 closed

[2019-09-22 12:19] Thomaash commented on #138
As I don't know KamadaKawai, I find the whole file confusing. Maybe the original authors (@AlexDM0 and @ludost) would be so nice and join this discussion?

Anyway if you have time you can open the PR and we can compare which version behaves better.

[2019-09-23 09:05] AlexDM0 commented on #138
Its been a long time since I wrote that. It could be that there is a bug in there, but the referenced paper is stated at the top of the file. I suggest you cross reference it with the paper, if it is a bug, fix it and test it. There is not much more we can add to this other than doing the exact same thing.

[2019-09-23 11:18] ludost commented on #138
I will have to do some serious digging in my memory to answer that question.
The specific line came from an optimization effort, in which I reduced the time to do the startup positioning by an order of complexity. I agree I need to re-discover the steps I took, to document these better. I'll try to find some time for that in the coming days. (See: https://github.com/visjs/vis-network/commit/5af416

[2019-09-23 11:35] sunziping2016 commented on #138
Okay, I'm quite busy these days, and I'll create a pull request and test it some day later.

The problem I mentioned before is about initial layout, so it have little impact on performance.

Here are some other confusing parts and potential bugs I found.
1. [this line](https://github.com/visjs/vis-network/blob/master/lib/network/modules/KamadaKawai.js#L163) solves the linear equations, but it seem

[2019-09-23 13:43] ludost commented on #138
Okay, I've taken a look.
You mention three items:

1. [MatrixSum](https://github.com/visjs/vis-network/blob/master/lib/network/modules/KamadaKawai.js#L241): This looks okay to me. The dE_dx and dE_dy are the sum for node 'm' and take into account the entire "row" of 'm'. (all values of iIdx) Maybe it's a bit confusing that E_Matrix is actually not a 2d Array, but an object with fields, indexed by

[2019-09-23 14:21] ludost commented on #138
Maybe that matrix sum part becomes clearer in the pseudocode below:

	Loop through nodes: m @ mIdx
		Set dE vars to 0
		Loop through nodes: i @ iIdx
			Create new E_Matrix[m][iIdx] entry _(based on x & y of both m & i)_
			Store entry also in E_Matrix[i][mIdx]
			Increase dE vars with new entry values
		Store dE vars into separate storage E_sums[m]

As far as I can tell at the end the E_sums will

[2019-09-23 20:02] PrzemyslawKlys opened #139 "Using font awesome 5 as icons"
The example shows the usage of Font Awesome 4. I'm trying to use free version: https://use.fontawesome.com/releases/v5.7.2/css/all.css

Saw: https://github.com/visjs/vis-network/issues/59 and tried finding the font face and all font faces I've found in that file above doesn't seem to work.

I've found this:
https://stackoverflow.com/questions/51597272/vis-js-network-could-not-display-icons-when-us

[2019-09-24 16:47] sunziping2016 commented on #138
It seems I've successfully implemented Kamad Kawai based in my own project. And some extra possible bugs are found.
1. [this line](https://github.com/visjs/vis-network/blob/master/lib/network/modules/KamadaKawai.js#L240) should be `this.E_matrix[i][mIdx] = -this.E_matrix[m][iIdx];`.
2. [this line](https://github.com/visjs/vis-network/blob/master/lib/network/modules/KamadaKawai.js#L286) should be c

[2019-09-25 00:48] ptsilva commented on #139
Try this:
[code]

[2019-09-25 00:55] ptsilva commented on #139
Try this:

[code]

[2019-09-25 01:40] ptsilva commented on #139
Or use svg individual with `circularImage`
like this:
[code]

[2019-09-25 08:17] PrzemyslawKlys commented on #139
Yours work but  mine doesn't:

[code]
Yours seems to be 'solid', and I tried using 'brands' or 'regular' as well. What would be the way to get that?

[2019-09-26 20:19] ptsilva commented on #139
Try use the ```Font Awesome 5 Brands``` font

[2019-09-26 20:37] PrzemyslawKlys commented on #139
[code]

This works. Thank you

[2019-09-26 21:41] PrzemyslawKlys commented on #139
Well, sorry. It works, but partially.

![image](https://user-images.githubusercontent.com/15063294/65727108-18ba2480-e0b7-11e9-8453-e0845c2ec4c8.png)

The icon shows up when you click on it. But otherwise stays like on the screenshot. Any way to work it out?

[2019-09-26 22:02] ptsilva commented on #139
Fontawesome use different fonts for some icons category.
You should check the used font for each desired icon

Now i remember:
'Font Awesome 5 Brands'
'Font Awesome 5 Free'

[2019-09-27 05:14] PrzemyslawKlys commented on #139
Ye, i’m using that. But even thou I use it, it doesn’t work correctly. As you see on picture it shows broken icons. However if you click on that broken icon the icon shows up. That means the icon itself is available and properly added. But i must be missing something obvious regarding preloading icons?

[2019-09-27 07:14] PrzemyslawKlys commented on #139
You can see this problem in this example: https://github.com/EvotecIT/PSWriteHTML/blob/master/Examples/Example26-Diagrams/Example-NodesEdgesOptions.html

[2019-09-27 11:25] PrzemyslawKlys commented on #139
Ok, so it seems Brands part works fine all the time. The "free" part doesn't load until you click on it, but it quickly goes back to default. So there must be something with Free one.

Maybe it's related? https://github.com/FortAwesome/Font-Awesome/issues/11946 where the different fonts have different font-weight?

[2019-09-27 22:20] Thomaash commented on #139
Hi @PrzemyslawKlys,

it seems that for Font Awesome 5 to work you have to use bold font face. At the moment there is no way how to do this unless the node is selected. With normal weight it behaves weirdly. #141 should solve your issue and it also adds Font Awesome 5 to the icons example.

[2019-09-28 05:48] PrzemyslawKlys commented on #139
Ye, I thought it may be related. Thank you for working on it.

[2019-09-28 08:50] PrzemyslawKlys commented on #139
Just a question. I've added weight bold and it seems to work now (even without your code changes). Was it supported before, just not visible in examples?

[2019-09-28 18:10] mojoaxel commented on #137
This should work:
[code]

[2019-09-28 18:11] Thomaash commented on #137
It doesn't.

[2019-09-28 18:28] mojoaxel commented on #137
This works:
[code]

[2019-09-28 18:32] Thomaash commented on #137
This indeed does work: https://jsfiddle.net/thomaash/Lkjshge7/.

[2019-09-28 18:35] PrzemyslawKlys commented on #137
Thank you, guys! Appreciate the effort!

[2019-09-30 11:01] slavede commented on #67
Bottom line, is there a way to use it with Angular8 without losing some of the Angular 8 benefits (by updating tsconfig)?

[2019-09-30 17:30] Thomaash commented on #67
What benefits do you lose by enabling synthetic default import? I thought Angular is bundled by Webpack which should handle this transparently without causing any issues.

But if you really don't want to enable it the problem is only in the types (if you use the ESM bundle the code is already converted into ESM). You can convert /…/node_modules/moment/moment.d.ts into ESM format if you want (since

[2019-09-30 21:41] MiselKING commented on #67
Since this issue seems to occur only for `moment` module, if (and when) it is removed then this should work without need for `allowSyntheticDefaultImports`. There is an issue already created for removing `moment` (#97) so you can track the progress there.
I will also close this issue since I don't see a reason for not using any of the `allowSyntheticDefaultImports` or `esModuleInterop` options.

[2019-09-30 21:41] #67 closed

[2019-10-01 08:28] UnicornDeluxe commented on #121
Hi @Thomaash thank you for fixing it!
Can you update https://raw.githack.com/Thomaash/vis-network/issues/4/dist/vis-network.js to include the fix? (Or post a new one including the fix) So we can use it?

[2019-10-01 09:04] Thomaash commented on #121
Hi @UnicornDeluxe and anyone else who's interested,

until @mojoaxel reviews #77 and #132 you can get fix for both from https://github.com/Thomaash/vis-network/tree/issues/4and121 trough GitHack for example https://rawcdn.githack.com/Thomaash/vis-network/issues/4and121/dist/vis-network.js.

[2019-10-01 19:00] #121 closed

[2019-10-01 19:17] mojoaxel opened #143 "New graphics design"
The following pages very urgent need a design make-over:

- Priority: [The network overvie page](https://visjs.github.io/vis-network/)
- Priority: [The example overview](https://visjs.github.io/vis-network/examples/)
- Nice to have: [The network documentation](https://visjs.github.io/vis-network/docs/network/)

**Restrictions**
- The new design should fit to the general design of [visjs](https://v

[2019-10-01 19:29] #139 closed

[2019-10-01 20:16] #114 closed

[2019-10-01 21:53] #116 closed

[2019-10-02 08:50] sharpaper opened #149 "Big nodes overlap"
vis-network, version from `/dist` in this repository, Firefox last version.

    network = new vis.Network(container, data, options);
    var options = {
        nodes: {
            size: 64
        }
    }

My graph has a lot of nodes that are **not** linked one another. When I set the size of a node too large (eg. size: 64), the nodes are not well distanced. Instead they are drawn one on top of

[2019-10-02 08:55] Thomaash commented on #149
Have you tried messing with spring length?

[code]

[2019-10-02 09:10] sharpaper commented on #149
Thanks for the quick reply.
If anything, this is even worse. Setting this option (from 1 to 100000), nodes are even more clustered together, one over the other.
I don't know if this is of any help, but my graph has 100s of lone nodes (not linked to anything) of type `shape: "circularImage"`.

[2019-10-02 09:13] sharpaper commented on #149
An image.

![nodes](https://user-images.githubusercontent.com/32109035/66032397-9d68d080-e505-11e9-885c-61ef6f966d84.png)

[2019-10-02 09:16] Thomaash commented on #149
Spring length affects edges between nodes :smile:. You want to play with:
- `barnesHut.gravitationalConstant` default is -2000, the lower this is the more spaced out they'll be,
- `barnesHut.centralGravity` default is 0.3, the higher this is the more will they cluster around the center,
- `barnesHut.avoidOverlap` default is 0, higher values make node size matter (max is 1).

[2019-10-02 09:29] sharpaper commented on #149
OK! This seems to work, although I have another problem with a node that when it's disturbed it never stops, it just keeps on going forever out of the screen.

Are all these options documented somewhere?

[2019-10-02 09:30] Thomaash commented on #149
Sure it's all documented, everything is on https://visjs.github.io/vis-network/docs/network/physics.html. Try increasing central gravity to prevent nodes from flying of the screen.

[2019-10-02 09:37] sharpaper commented on #149
Thank you.

[2019-10-02 09:37] #149 closed

[2019-10-02 09:37] Thomaash commented on #149
You're welcome.

[2019-10-03 07:48] sharpaper opened #150 ""text" nodes computation heavy"
Is there a particular reason why nodes of type "text" seem to hung up the browser significantly more than any other type? With 100s of text nodes, my PC is struggling to render the graph, much more than any other type such as "dot" or "circularImage".

[2019-10-03 09:47] Thomaash commented on #150
Hi @sharpaper,

rendering text (convert vector font into raster image, do it many times for several letters that may form ligatures with their neighbors, affect each other's spacing etc.) is much more demanding than rendering raster image (just decompress and use) or a dot (very basic geometry). In other words text will always be slower. However this doesn't necessarily mean it couldn't be faster.

[2019-10-03 13:08] sharpaper commented on #150
I'm not doing anything fancy really, I'm only drawing a graph with a couple hundreds nodes and only a few edges (a couple 10s at most). All nodes are text nodes with a label, and all edges have a label too. All labels are between 10-40 characters long. The initial rendering is actually OK, the noticeable slow down happens when dragging the nodes around. It stutters and it looks like it's strugglin

[2019-10-03 13:08] #150 closed

[2019-10-06 14:00] PrzemyslawKlys commented on #139
Hi, it seems this partially works. As you have to click on the diagram for it to show up icons. Any way to do it programmatically?

Problem visible here: https://codepen.io/MadBoyEvo/pen/GRRRBpW

[2019-10-06 14:06] Thomaash commented on #139
It works when I open it. Did you try to clear the cache or put there the new version explicitly? Because unpkg.com sends 365 days caching header.

[2019-10-06 14:09] PrzemyslawKlys commented on #139
In Firefox, it seems to work. In Edge Chromium Canary/Chrome Canary even on Guest or Incognito it sometimes loads, sometimes need a push, another refresh loses icons until I click again.

[2019-10-06 14:10] PrzemyslawKlys commented on #139
Btw the newest bundled release has version 0.0.0 for 6.1.1. Not that it matters.

[2019-10-06 14:11] Thomaash commented on #139
Nope, it has 6.1.1, see https://unpkg.com/vis-network@6.1.1/dist/vis-network.min.js.

[2019-10-06 14:11] PrzemyslawKlys commented on #139
ye, but not the one on GitHub in Releases.

[2019-10-06 14:12] Thomaash commented on #139
Yeah, that's intentional.

[2019-10-06 14:15] PrzemyslawKlys commented on #139
Can you reproduce FA on Chrome or everything works for you?

[2019-10-06 14:17] Thomaash commented on #139
Everything works for me.

[2019-10-06 14:18] Thomaash commented on #139
Just to be 100 % sure it's not caching issue. Does it appear even if you check disable cache? Because I see this:
![Screenshot from 2019-10-06 16-13-30](https://user-images.githubusercontent.com/12966757/66270499-d16d2a00-e854-11e9-95d5-2993dd521ac4.png)

[2019-10-06 14:22] PrzemyslawKlys commented on #139
![image](https://user-images.githubusercontent.com/15063294/66270528-24df7800-e855-11e9-9b0d-6b5ff063fd30.png)

I see this more when testing on local .html, on the pen it seems to work now. Weird.

And I do use "Local.html" in my project.

However I just tried on guest on chrome and first open:

![image](https://user-images.githubusercontent.com/15063294/66270562-738d1200-e855-11e9-9c72-0de13cb6a2

[2019-10-06 14:29] Thomaash commented on #139
And if you check the loaded vis-network.min.js does it really say 6.1.1? Because I just can't reproduce it. I tried opening it from file://, local web server, in my session, incognito and guest. No matter what I do it just works.

[2019-10-06 14:32] PrzemyslawKlys commented on #139
Ye, I did check. Says 6.1.1. It's weird.

![image](https://user-images.githubusercontent.com/15063294/66270698-bbf8ff80-e856-11e9-817f-d5df20980625.png)

I did try Empty cache with hard refresh but doesn't change much.

[2019-10-06 14:34] Thomaash commented on #139
I'm really clueless.

[2019-10-07 13:11] gadepallivs opened #153 "different edge & node types"
In context of biological pathway representation we use different edge types & Node types ( reference image attached). This is from Ingenuity Pathway Analysis, some of these are already in vis-network library. However, certain features are missing eg. both bar and arrow, or color filled arrow or blank arrow. I hope these enhancements are generally applied for various graphs. However, I understand a

[2019-10-07 13:19] Thomaash commented on #153
Hi @gadepallivs,

arrows are hardcoded at the moment. You can use the rendering events to render them yourself but that wouldn't be easy. However I do like the idea of having a way to supply custom arrow rendering functions. I'll look into this today (hopefully).

[2019-10-09 07:52] PrzemyslawKlys opened #154 "Set length of edges between 2 nodes when physics is off"
I know I can set the length of edge when physics is on. Is there a way to do it when physics is off? It doesn't seem to do anything when I played with it (like the option is just not there).

[2019-10-09 07:57] Thomaash commented on #154
You can use `network.stabilize()` to fire physics once without enabling it.
Other than that you‘d have to position the nodes manually.

On Wed, Oct 9, 2019, 09:52 Przemysław Kłys <notifications@github.com> wrote:

[2019-10-09 07:59] PrzemyslawKlys commented on #154
Thank you

[2019-10-09 07:59] #154 closed

[2019-10-09 08:02] Thomaash commented on #154
You‘re welcome.

On Wed, Oct 9, 2019, 09:59 Przemysław Kłys <notifications@github.com> wrote:

[2019-10-10 09:59] clem-41 opened #155 "getPositions returns wrong coordinates"
I want to make a popup appear at the position of a node when I click on the node.

I used the `getPositions()` method but the popup appears in the wrong place (too much on the left and top corner), as if the coordinates were incorrect (and it seems like the positions returned are not the same scale as the network since the offset is different for every node).

Here is the function I used:
[code]

[2019-10-10 11:16] Thomaash commented on #155
I don’t have time to look at it right now but have you tried CanvasToDOM
conversion?

On Thu, Oct 10, 2019, 11:59 clem-41 <notifications@github.com> wrote:

[2019-10-10 14:12] clem-41 commented on #155
No I haven't, I'm not sure how to use it?

[2019-10-10 17:30] petmuradyan opened #156 "Edges color issue white updating"
After updating edges ( edges.update( [array of objects] ) ) it is updating all properties of edges except of color. The color properties of edges are taking the right values, but visually all the edges getting color of the last edge color of array. Even if I am updating only individual edge by  `graph.clustering.updateEdge('id', {color: {color: 'black'}}) ` all edges becoming black.

[2019-10-10 17:32] Thomaash commented on #156
Hi @petmuradyan,

can you provide an MWE please?

Thanks.

PS: You can use one of the new JSFiddle links in our examples (https://visjs.github.io/vis-network/examples/) and just tweak it to show your issue.

[2019-10-10 19:09] petmuradyan commented on #156
Unfortunately I can't. The functionality i mentioned is working with old version (4.9.0). I am using 5.1.0. The latest version with CDN is 4.9.0. For making JSFiddle I need newest versions with CDN

[2019-10-10 19:12] Thomaash commented on #156
The latest version in CDN is 6.1.1. See https://unpkg.com/browse/vis-network@6.1.1/.

[2019-10-10 21:03] Thomaash commented on #153
Is it still Monday? Am I not too late? I'm sure it's still Monday :smile:. Anyway as I said I looked into it and I'm no longer so fond of the idea of custom rendering functions for arrows. The code is not robust enough to support this. I ran into some unexpected and difficult to debug issues playing with it and I maintain this library. It would be quite tricky to use. However I implemented image a

[2019-10-12 17:03] PrzemyslawKlys opened #158 "Cool example of using Vis-Network with Datatables.net"
While it's not an issue or feature request I wanted to share what I was able to create: https://codepen.io/MadBoyEvo/pen/MWWKaLG

![PSWriteHTML-DiagramEvents](https://user-images.githubusercontent.com/15063294/66705054-5c04cc00-ed22-11e9-826a-9b619a3f487f.gif)

This is created using [PSWriteHTML](https://github.com/EvotecIT/PSWriteHTML) in PowerShell.

[code]

Your Vis-network is making a lot of A

[2019-10-13 05:20] baloian commented on #156
Has anybody solved this issue?

[2019-10-13 12:52] baloian opened #159 "Clustering Edge Update"
Hi Everyone,

I am trying to update an edge using `network.clustering.updateEdge(id, new_option)` method, but it updates all related clustered edges with the new option. Is there a way to update only provided edge. For example, I was trying to update single edge's color, but it sets all ages color the same. Note that the same happens when I use `dataset_edges.update(array_of_edges)` method. I am u

[2019-10-13 15:14] #158 closed

[2019-10-13 16:55] baloian commented on #159
I am closing this issue as it is solved. Fore more details see  [here](https://github.com/visjs/vis-data/issues/26).

[2019-10-13 16:55] #159 closed

[2019-10-13 16:57] baloian commented on #156
I figure out this issue ans solved. Fore more details see [here](https://github.com/visjs/vis-data/issues/26). If it solves your issue you can close this.

[2019-10-13 23:51] chrisgereina opened #160 "Using vis-network on the backend"
First off, vis-network is awesome.

Now that that's covered, I'd love to be able to create network visualizations on the back-end, but after looking through the docs and checking Stackoverflow I wasn't able to find any mention of using vis-network in node

I think using vis-network from the backend would be excellent for neural-network related use-cases. Particularly tracking neural-network evolut

[2019-10-14 08:36] k----n commented on #143
I'd like to work on the 2 priorities @mojoaxel .

What I propose:
- Use the preexisting CSS to style the current pages (https://visjs.org/index.css)
- For the network overview page, add some graphics and layout unordered list better
- For the example overview page, keep current headings but add some navigation and better layout the sections

[2019-10-14 13:12] peachman1997 commented on #160
Hi @christianechevarria , I have been designing an application to edit nodes and edges using vis.js and using node.js as the backend. I made a front end html application to edit values and linked this with a MySQL database.

The way I achieved this is by using [https://socket.io/](Socket IO) to transmit node and edge data changes from client to server. Any changes done on the client would be sent

[2019-10-14 13:24] Thomaash commented on #160
Hi @christianechevarria,

sadly there is no way to render to anything other than canvas. However you can have a look at the way we generate screenshots on https://github.com/visjs/vis-dev-utils/blob/b28725c291fdf5878e3619b14a1f65781f98b11c/src/generate-examples-index/index.ts#L520-L574. We use Pageres to take a screenshot of the canvas. Pageres uses headless Chromium for rendering therefore it can

[2019-10-14 13:36] Thomaash commented on #155
Hi @clem-41,

is there still in issue or was it solved by converting the coords? If it was solved close this issue please.

[2019-10-14 20:17] clem-41 commented on #155
I couldn’t do it so I kind of gave up and got around the problem by doing something different than what I initially planned.
But technically it’s still an issue.

[2019-10-14 21:18] christianechevarria commented on #160
Thanks for the answers @peachman1997 and @Thomaash

Going to give this a try, I'll post any code that might be useful to future issue-viewers too

[2019-10-15 06:35] ludanxer commented on #143
Hi @mojoaxel ,

Are you looking for a rebuild for your document website?

I come across `vis-network` and this issue when I need a network graph and want to help you.

I'm not an experienced programmer and just start to participate in open source projects not long ago, so I can't help with the core code. However, I'm a huge fan of [vue ecosystem](https://github.com/vuejs) and trying my best to con

[2019-10-15 10:22] UnicornDeluxe opened #162 "onContext returns different pointer position than click"
Hey,
this issue has already been opened on the old _almende-vis_ repository.
As described by @HaoyuanY in the mentioned [issue](https://github.com/almende/vis/issues/3254) it seems like the `oncontext` and the `click` events do not yield the same coordinates, which results in e.g. the list of nodes beeing empty even if one clicked right on a node.
Another strange behaviour I noticed, which can als

[2019-10-15 11:52] rg2609 opened #163 "Fontawesome 5 icon not getting render on network"
I am using the network of Vis.js, previously for icon fontawesome 4.x was working fine, but after updating the fontawesome version to 5.x it's giving a problem.
I changed the icon code too, but still is not rendering the icon properly, I used the` icon: {face: "Font Awesome 5 Free", code: "\ufbb", color: "#6cf7a2", size: 30}` code for fontawesome and the output is following:
![image](https://user-

[2019-10-15 11:55] Thomaash commented on #163
Hi @rg2609,

are you using the latest vis-network package and have you checked the Font Awesome 5 example on https://visjs.github.io/vis-network/examples/network/nodeStyles/icons.html?

[2019-10-15 11:58] rg2609 commented on #162
I saw your issue in jsfiddle and I think it's working fine https://jsfiddle.net/yuehaoyuan/p7e5qaob/

[2019-10-15 12:05] Thomaash commented on #162
The coordinates seem the same to me (in both the ancient JSFiddle and with up to date package).

The nodes are the selected nodes, not clicked. Since oncontext doesn't change the selection the event just contains whatever selection was there. It's documented in the docs.

[2019-10-15 12:12] UnicornDeluxe commented on #162
Thank you very much @Thomaash for the quick answer. Apparently I missed this point in the documentation. Is there a possibility to get the (right-)clicked node even if it was not selected before?

[2019-10-15 12:13] Thomaash commented on #162
It's in the docs:

[2019-10-15 12:19] UnicornDeluxe commented on #162
Thank you for the answer, I definitely should look more into the docs.
So is it considered to be a feature to have the `oncontext` only apply on selected nodes, and not on the one clicked? Or are their plans to "fix" it?

[2019-10-15 12:24] rg2609 commented on #163
Hi @Thomaash ,
I am using thins [https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.1/vis.min.css](https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.1/vis.min.css ) and [https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.1/vis.min.js](https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.1/vis.min.js)

[2019-10-15 12:26] Thomaash commented on #163
In other words you're not using the code from this repo, you're using https://github.com/almende/vis.

[2019-10-15 12:31] Thomaash commented on #162
We can't “fix” this. We'd have to “fix!: BREAKING CHANGE“ this. Many projects likely depend on the documented and long existing behavior. I'm against changing this behavior as achieving what you want is really easy even without any changes. It's not worth the the hassle and confusion for all the other people.

[2019-10-15 12:35] rg2609 commented on #163
Now I changed the link to [https://unpkg.com/vis-network@6.1.1/dist/vis-network.min.js](https://unpkg.com/vis-network@6.1.1/dist/vis-network.min.js) and
[https://unpkg.com/vis-network@6.1.1/dist/vis-network.min.css](https://unpkg.com/vis-network@6.1.1/dist/vis-network.min.css), but still, the output is the same no icon render

[2019-10-15 12:37] Thomaash commented on #163
Did you read the docs? Namely the part about FA5 and forcing bold font face?

[2019-10-15 12:41] UnicornDeluxe commented on #162
Makes sense, I agree!

[2019-10-15 12:41] #162 closed

[2019-10-15 12:42] rg2609 commented on #163
[https://visjs.github.io/vis-network/docs/network/index.html](https://visjs.github.io/vis-network/docs/network/index.html) then this one is old right

[2019-10-15 12:49] Thomaash commented on #163
Seems up to date to me:
![Screenshot from 2019-10-15 14-46-49](https://user-images.githubusercontent.com/12966757/66832775-df106700-ef5a-11e9-885d-4b3620687a90.png)

[2019-10-15 12:59] rg2609 commented on #163
ya i saw this and updated too added weight:"bold" `icon:{face: "Font Awesome 5 Free", code: "", color: "#6cf7a2", weight: "bold", …}` , but sill, the output is same
![image](https://user-images.githubusercontent.com/20682661/66833552-a633ba80-ef79-11e9-81d5-21755d0a9b25.png)

[2019-10-15 13:00] Thomaash commented on #163
Can you provide an MWE so that I could investigate this please?

[2019-10-15 13:07] rg2609 commented on #163
Here is MWE:
`[{"id":4353,"label":"a1-Display","font":{"face":"calibri"},"shape":"icon","icon":{"face":"Font Awesome 5 Free","code":"\ufbb","color":"#6cf7a2""weight":"bold","size":30}},{"id":4371,"label":"a2-Display","font":{"face":"calibri"},"shape":"icon","icon":{"face":"Font Awesome 5 Free","code":"","color":"#6cf7a2","weight":"bold","size":30}},{"id":4612,"label":"Dispay A3","font":{"face":"c

[2019-10-15 13:13] Thomaash commented on #163
This is not an MWE. This is just some JSON mess.

[2019-10-15 13:32] rg2609 commented on #163
[code]

[2019-10-15 13:41] Thomaash commented on #163
[code]

[2019-10-15 13:51] rg2609 commented on #163
Thank @Thomaash,
It's working I missed that` face: "'Font Awesome 5 Free'",`. working [jsfiddle](http://jsfiddle.net/pL27auv0/2/)

[2019-10-15 13:52] Thomaash commented on #163
You're welcome.

[2019-10-15 13:52] #163 closed

[2019-10-16 08:59] MrManny opened #164 "TypeScript: declarations for keycharm"
Greetings,

I have been using vis.js through the vis package in a Vue web application which uses TypeScript exclusively. As that package was EOL, I finally got around to migrate to vis-network 6.1.1.

The transition itself was painless and easy except for one tiny little detail. During the build process, TypeScript complained about this:

[code]

For reference, here is my tsconfig.json:

[code]

T

[2019-10-16 09:11] clem-41 commented on #155
Turns out my plan B is not a good solution for me. So back to plan A, which is this.
Can anyone help me? I'm not very good at javascript and I did read the documentation (and the issue referenced by UnicornDeluxe) but often I don't know how to apply the methods to my code, so if anyone would be kind enough to maybe give me an example using my code it would be really helpful.

[2019-10-16 10:11] Thomaash commented on #164
Keycharm doesn't have type definitions. You can make this error go away by simply adding `declare module "keycharm";` to your type definitions.

It would indeed be better to solve this either in DefinitelyTyped or the Keycharm library itself.

[2019-10-16 10:30] Thomaash commented on #155
In case you meant the original code it should look similar to:
[code]

[2019-10-16 11:22] clem-41 commented on #155
Yes I meant the original code!
Thanks for your answer, it does work on a basic network, the only problem is that I use the fit method to center and zoom on the clicked node. And with the code you provided, the popup appears at the inital position of the node, but then the network moves and the popup is no longer in the right place... is there any way I can adapt your code to apply it once the fit

[2019-10-16 11:28] Thomaash commented on #155
You're welcome.

You have to update the position of the popup whenever the canvas is moved, zoomed etc. You can just store the id of the node and reposition the popup using the same method as for the initial positioning. But this is a StackOverflow question not an issue.

[2019-10-16 11:28] #155 closed

[2019-10-18 22:47] gadepallivs commented on #153
That works. But, it kind of makes your network look not so pleasant when you have too many of these :) . Thank you for alternative .

[2019-10-19 08:58] Thomaash commented on #153
Why not so pleasant? How would rendering functions be more pleasant?

[2019-10-19 14:10] gadepallivs commented on #153
Its great and quick alternative. That is't an issue at all. I was saying, I need to find good images, as for the example fiddle you had black background for arrows...that don't blend with the overall network. It isn't any problem. Solves my need. Just to make sure, you mentioned "image arrow heads", but I can create other connections from the example image I shared  ( IPA edges Types) or (IPA node

[2019-10-19 14:14] Thomaash commented on #153
You can use any image as a node, with #157 you can also use any image as an arrow head and you can also have solid or dashed edges with a thickness and color of your choice. Therefore you can have all of them.

PS: Regarding the colors I made it just for demonstration, the image doesn't have to be black, it can have any color you need.

[2019-10-19 18:31] PrzemyslawKlys opened #166 "Internet Explorer support?"
I am wondering if it's possible to get this supported in IE?

[2019-10-19 18:32] Thomaash commented on #166
This?

[2019-10-19 18:34] PrzemyslawKlys commented on #166
Well, this JS library. As in network diagrams. Sorry for not being specific enough. It seems to work on Chrome, Edge, Firefox, Edge Chromium, just IE 11 not working. Was wondering if it's possible or not really?

[2019-10-19 18:35] Thomaash commented on #166
IE11 is supported (see https://browserl.ist/?q=%3E+0.1%25+or+not+dead for all supported browsers and versions) and should work. Any example of this not working? Any errors?

[2019-10-19 18:39] PrzemyslawKlys commented on #166
This: https://github.com/EvotecIT/PSWriteHTML/blob/master/Examples/Example31-NestedTabs/Example30-NestedTabs.html

On the right side on first tab there's a diagram. The important thing is that PSWriteHTML generates "Local" files and most users use them from disk directly without any web server.

![image](https://user-images.githubusercontent.com/15063294/67149840-80c3eb00-f2b0-11e9-80f1-c8dcc06767

[2019-10-19 18:41] Thomaash commented on #166
Does it work if you use https://github.com/Thomaash/vis-network/blob/peer-build/standalone/umd/vis-network.js instead of the version you're using now?

[2019-10-19 18:47] PrzemyslawKlys commented on #166
That one works... is it different than the one I use? Or just because I hosted it locally worked?

[2019-10-19 18:47] Thomaash commented on #166
It uses core js 3 instead of the dated core js 2.

[2019-10-19 18:48] PrzemyslawKlys commented on #166
Right, I saw some esm.js errors. Is it hosted on any CDN?

[2019-10-19 18:49] Thomaash commented on #166
Officially? No. But you can get it through https://raw.githack.com/.

[2019-10-19 18:50] PrzemyslawKlys commented on #166
Any ETA for official?

[2019-10-19 18:52] Thomaash commented on #166
No ETA is set. @mojoaxel had some issues with it and didn't review it after they were addressed.

Maybe you could have a look at it this weekend @mojoaxel?

[2019-10-19 20:50] PrzemyslawKlys opened #167 "Sizing diagram 100% width and height"
I have this code: https://codepen.io/MadBoyEvo/pen/ExxNvmo

When loaded DataTables first load as a big table, and then paging kicks in getting it resized to "expected" values. However, it seems that Vis-network stays as it was when the page first opened up.

![image](https://user-images.githubusercontent.com/15063294/67151157-d3f26980-f2c1-11e9-8224-d086089cc00b.png)

[code]

Is there a way to siz

[2019-10-19 20:56] Thomaash commented on #167
Hi @PrzemyslawKlys,

isn't this the same problem as #89? Doesn't this solution help: https://github.com/visjs/vis-network/issues/89#issuecomment-524575105?

[2019-10-19 21:08] PrzemyslawKlys commented on #167
Doesn't seem so:

[code]

Using this moves data from the 2nd tab to the 1st tab.

![image](https://user-images.githubusercontent.com/15063294/67151346-487ad780-f2c5-11e9-9270-a2eb52c9af3a.png)

And positions 1st diagram outside of visible area.

[2019-10-19 21:10] PrzemyslawKlys commented on #167
Seems there was small mistake:

[code]

this works, except first diagram is outside of visible area.

[2019-10-19 21:12] Thomaash commented on #167
I tried to update your CodePen and it works. Nothing is outside of visible area.

[2019-10-19 21:13] Thomaash commented on #167
It seems to be happening randomly on reload.

[2019-10-19 21:14] PrzemyslawKlys commented on #167
Yes. It shows up for a second, disappears and I have to move it out.

[2019-10-19 21:17] Thomaash commented on #167
Can't you simply `network.fit()` after it's loaded? Or load the network after the layout is ready (contains all the data)? Because the network tries to keep it's zoom and position on resize so to not move unexpectedly etc. but in this case you want it to fit on resize.

[2019-10-19 21:20] PrzemyslawKlys commented on #167
I can if only I would know how to detect this :-)

[2019-10-19 21:23] Thomaash commented on #167
Well, this depends on the way you load data and put them into the DOM. I can't really help you with this as your example is huge and I have no idea what's going on there.

[2019-10-19 21:25] PrzemyslawKlys commented on #167
How would I find all the network diagrams on-page and network fit them? Maybe I could act on resize event of some sorts?

[2019-10-19 21:27] PrzemyslawKlys commented on #167
As for example size I had to make it that way - to make paging work. But I can probably slim it down since now it works properly except for wrong positioning.

[2019-10-19 21:27] Thomaash commented on #167
You created those networks so when you do `new vis.Network()` just save the reference. There is the window `resize` event you could listen to to fit on resize.

[2019-10-19 21:32] PrzemyslawKlys commented on #167
But it's actually flex resize, not a window resize I guess. The window stays the same I guess.

I'll slim down example, try few things and if I won't think of anything I'll open something on StackOverflow. Thank you.

[2019-10-19 21:45] Thomaash commented on #167
You're welcome.

[2019-10-19 21:45] #167 closed

[2019-10-20 11:44] flaushi opened #168 "Hierarchical layout to respect node size"
I am working with a hierarchical layout.
My nodes carry labels of  varying length.
AFAIK, the standard physics solver `hierarchicalRepulsion` computes a repulsion only based on the node centre. It does not take the node size (with label) into account.

Would it be possible to implement such a solver?

![Bildschirmfoto 2019-10-20 um 13 37 42](https://user-images.githubusercontent.com/15819451/67158

[2019-10-21 07:34] Tyler-Maclachlan opened #169 "Is it possible to change opacity of node images?"
I am trying to do something similar to the neighbourhood highlight, except all my nodes are images.
Is is possible to, instead of grey them out, change their opacity?

[2019-10-21 10:59] Tyler-Maclachlan commented on #56
@patryk-uszynski Have you managed to get anywhere with your POC?

[2019-10-21 11:06] Thomaash commented on #169
Hi @Tyler-Maclachlan,

this is currently not possible. You can however have images with different opacities and swap them as needed.

[2019-10-21 19:01] Thomaash commented on #168
Hi @flaushi,

I implemented overlap avoiding for hierarchical layout (#171). Could you check if it works as you expect? It has the same avoidOverlap option as Barnes Hut and you can use https://thomaash.github.io/cdn/vis-network.090dcc5097b4a8f89678183d5680f6b9.js in JSFiddle or wherever you prefer.

[2019-10-22 03:00] ptrckqnln opened #172 "Poor performance/errant behavior on iOS 13"
I'm toying with a minimal implementation (4 nodes, 3 edges - one image node, shadows enabled, default config otherwise) and I've noticed that the performance when selecting/dragging is significantly poorer on iOS (both Safari and Firefox, iPad Pro 11 and iPhone XS Max) than on any other platform I've tested. It performs beautifully on a cheapo Android phone from several years ago, so hardware is c

[2019-10-22 07:03] flaushi commented on #168
Hey @Thomaash , that looks great! Is there a way for me to include this via npm? I am using webpack, and including "custom" libs always is a pain for me...

[2019-10-22 07:37] baloian opened #173 "Edge color updating bug."
Hi Everyone,

I am trying to update edges' color by providing an array of edges (every single edge has different color), but it updated all edges' color. But if I update just one edge it works correct, other edges remain the same, if number of updated data is more than one it updates all colors, basically sets the last element's color.

Is this bug or I am not doing it in a right way?

Here is how

[2019-10-22 07:37] #173 closed

[2019-10-22 07:39] Thomaash commented on #168
There's no way to include this by npm (unless you want to pack it and ship or publish yourself) but it's not a big change. I already asked @mojoaxel for review and if no issues arise from the review it could be released soon.

[2019-10-22 11:26] Thomaash commented on #172
Hi @ptrckqnln,

sadly I have no device I could use to test this. The only thing that may help right now are logs. Could you check if it logs some errors into the console, please?

[2019-10-22 13:05] ptrckqnln commented on #172
@Thomaash Unfortunately no errors are logged to the console. I'm trying to see what I can glean from the debugger with my iPhone on https://visjs.github.io/vis-network/examples/network/nodeStyles/circularImages.html, and immediately noticed a difference in the timeline (which at least confirms that I'm not simply losing my mind 😅).

Here's a profile of the application running as I drag a node arou

[2019-10-22 13:47] ptrckqnln commented on #172
I've also learned that I don't need to tap on a node specifically to cause this issue, but rather anywhere on the canvas. There seems to be something about that tap that seriously disrupts rendering.

[2019-10-22 15:43] stevenlafl opened #174 "When network is in addEdgeMode, dragView doesn't work"
For my use case, I just wanted to use Network to create edges between nodes at the moment. I'll be controlling the viewport, so I don't need users to be able to drag the viewport.
[code]
does not result in the desired behavior when in addEdgeMode. This contradicts https://visjs.github.io/vis-network/docs/network/interaction.html

Linux, Chrome

[2019-10-22 15:48] Thomaash commented on #174
Hi @stevenlafl,

could you provide an MWE, please? Because if I put `dragNodes: false` into https://visjs.github.io/vis-network/examples/network/other/manipulation.html it works as expected.

[2019-10-22 15:51] Thomaash commented on #174
What comes to my mind is that the nodes can't be dragged but their positions are not fixed. That is if you have enabled physics the new edge will move the nodes it's connected to. To prevent this you have to use `nodes.fixed: true` or `physics: false`. This however doesn't contradict the docs so it's probably not your problem.

[2019-10-22 15:55] stevenlafl commented on #174
It's dragView: false, sorry. Just edited, here is the MWE https://jsbin.com/bitacuvowo

[2019-10-22 16:00] Thomaash commented on #174
That's indeed a bug. I can confirm that.

[2019-10-22 17:08] Thomaash commented on #174
Could you try if https://thomaash.github.io/cdn/vis-network.5f753610cc88ac3ff0052747e9863e7f.js works properly in your project?

Thanks.

[2019-10-22 17:26] stevenlafl commented on #174
It does indeed. Thank you!

[2019-10-22 17:27] Thomaash commented on #174
I'm glad to hear that. You're welcome.

[2019-10-23 00:31] jmmccota opened #176 "Vis.js Hierarchical visualization network algorithm changed?"
Until Vis.js-Network version 6.0.0, hierarchical like a tree with a desired form to me, but when updated to Version 6.1.1, the visualization change, there is a workaround?

I want to work with newest version

I've tried various parameters changes, like change hierarchical.sortMethod between directed and hubsize, but without success.

I made these two examples bellow to explain the issue

The desir

[2019-10-23 08:06] rochappy commented on #57
Should vis-network package.json also update the version of vis-util?

[2019-10-23 09:36] Thomaash commented on #176
Hi @jmmccota,

there was a change to the layout because the original layout under certain not so rare conditions would feature edges pointing upwards (something that can't happen in a valid hierarchy). What you see is a result of that because the layout is now built from the leaves to the root instead of root to leaves.

I'll have a look to see if an option could be added to push everything as clo

[2019-10-23 16:30] rochappy commented on #57
In addition, the example [https://visjs.github.io/vis-network/examples/network/basicUsage.html](https://visjs.github.io/vis-network/examples/network/basicUsage.html) ie 11 cannot be displayed.

[2019-10-23 16:38] Thomaash commented on #57
Hi @rochappy,

does it work for you if you use https://github.com/Thomaash/vis-network/blob/peer-build/standalone/umd/vis-network.js instead of the version you're using now?

[2019-10-23 16:50] rochappy commented on #57
Yesss! It is displayed, So for the time being, use this scheme instead? when is it merged into the master?

[2019-10-23 16:50] rochappy commented on #57
Yesss! It is displayed, So for the time being, use this scheme instead? when is it merged into the master?

[2019-10-23 16:58] Thomaash commented on #57
We have a mandatory review policy so it's up to when @mojoaxel will find the time to review it and if no problems arise from the review.

[2019-10-23 17:02] rochappy commented on #57
@Thomaash Thank you for your prompt reply and look forward to the team update.

[2019-10-23 19:34] Thomaash commented on #176
I implemented `shakeTowards` option which, if set to `roots`, allows you to get the layout you want. You can use https://thomaash.github.io/cdn/vis-network.1e941e89c1049db05516e82ceb305130.js or build #177 yourself. Could you test it, please?

[2019-10-23 19:36] jmmccota commented on #176
It's looks very nice, thanks @Thomaash

I'll wait the next build/version.

[2019-10-23 19:36] #176 closed

[2019-10-23 22:18] mojoaxel commented on #57
@mojoaxel plz review #85 !

[2019-10-24 07:09] #169 closed

[2019-10-24 07:25] Tyler-Maclachlan opened #178 "Disabling hierarchical layout and re-enabling it causes errors"
Hi there,

I am using the hierarchical layout with edges that can be 'split?', when splitting the edges I disable the layout so that none of the nodes move (it's really frustrating having the node you were looking at suddenly move), however when I re-enable the layout afterwards I get the following error:

`Uncaught Error: To use the hierarchical layout, nodes require either no predefined levels o

[2019-10-24 07:29] Thomaash commented on #178
Hi @Tyler-Maclachlan,

could you provide an MWE on JSFiddle or somewhere, please?

Thanks.

[2019-10-24 07:40] #174 closed

[2019-10-24 08:00] Tyler-Maclachlan commented on #178
Hi @Thomaash

Here is a [codepen](https://codepen.io/tyler-maclachlan/pen/KKKzGxO?editors=0010) example

[2019-10-24 08:07] Tyler-Maclachlan commented on #178
It always gives the error on split, and every now and then when collapsing the edges back together

[2019-10-24 09:15] Tyler-Maclachlan opened #179 "Setting cluster fixed option doesn't do anything in hierarchical layout"
I'm using the hierarchical layout, and on node dragStart I update the node fixed property to

[code]

While this works for non-clustered nodes it doesn't seem to work for clusters.

Here is a [codepen](https://codepen.io/tyler-maclachlan/pen/gOOWPMe?editors=0010) example

[2019-10-24 09:34] Thomaash commented on #179
Hi @Tyler-Maclachlan,

I'm not exactly sure what you're trying to achieve. Could you provide more info, please?

[2019-10-24 09:53] GuengdongKim opened #180 "Create docs for Korean"
We are Korean university students who are conducting education and research on networks and open source.

We've been looking for an open source drawing a network, and your vis.js is the most interesting of them all.

That's why I **want to create Korean docs** that Koreans can access more easily.
Is it okay if we make Korean docs and contribute to you?

Thank you.

[2019-10-24 09:58] Thomaash commented on #180
Hi @GuengdongKim,

that would be awesome, thank you very much. We don't have anything in place for multilingual docs though. I'm open to suggestions how to handle this but if you're in only to translate and don't mind editing HTML simply copy `docs` to `docs-kr`, rewrite the files and open a new PR.

[2019-10-24 10:18] Tyler-Maclachlan commented on #179
Just to give you some more context, we're using the hierarchical layout for positioning because it is the most visually aesthetic option in our use case; however, we would like to allow for moving nodes around on both axes.We managed to make it work by unsetting `fixed` on dragStart which works for nodes but not for clustered nodes. Clustered nodes seem to ignore fixed: {x: false, y: false}. Does

[2019-10-24 10:24] Thomaash commented on #179
Yeah, I understand what you're doing. The problem is that hierarchical layout is not supposed to be used in this way.

[2019-10-24 10:25] Thomaash commented on #178
This has me puzzled. When hierarchical layout is disabled some new hidden nodes are added. Not sure why though.

[2019-10-24 11:51] Tyler-Maclachlan commented on #178
I believe that happens when you have smoothing enabled on edges. Those support nodes shouldn't be taken into account in the check for node levels.

[2019-10-24 12:42] Tyler-Maclachlan commented on #178
Disabling smoothing for edges stops the error from showing up, but doesn't work for this use case as the edges need to be curved to show each each.

[2019-10-24 12:42] #179 closed

[2019-10-24 12:46] Thomaash commented on #178
Okay, thanks for investigating this. There are already two (#171 and #177) PRs messing with hierarchical layout that I'd like to merge before addressing this. So after @mojoaxel finds the time to review them I'll have a look if the support edges can be safely ignored in hierarchical layout.

[2019-10-26 22:11] mladenb opened #181 "What is the recommended configuration for vis-network for family tree graph"
I apologize for asking questions here, but SO didn't help almost at all and I don't think this question can be answered by just anyone, because it kinda requires a bit deeper knowledge of how the lib works under the hood...

Short question is how to instruct vis-network library to minimize the sum of all the edges length in hierarchical layout mode (needed for the display of the family tree).

Ins

[2019-10-27 13:38] mojoaxel commented on #139
Di we need to reopen this?

[2019-10-27 13:58] #168 closed

[2019-10-27 14:07] #153 closed

[2019-10-27 14:10] mojoaxel commented on #180
@GuengdongKim I also want to encourage you to contribute! This is awesome!

The only problem is that this project is actively maintained and also the documentation changes in time. So we would need future help from one of you guys to not only translate the docs but also maintain the translation it in the future. If you cannot provide this it maybe would be better to fork the project, do the transl

[2019-10-27 14:11] mojoaxel commented on #166
I just approved the changes.

[2019-10-27 14:13] mojoaxel commented on #143
Yes!!

IÄm very open to it but start small and open a [Draft-Pull-request](https://github.blog/2019-02-14-introducing-draft-pull-requests/) early so that we can see in wich direction this goes.

[2019-10-27 14:15] mojoaxel commented on #143
Sorry, Hacktoberfest is over. We still could use some help with out documentation.

[2019-10-27 14:19] mojoaxel commented on #153
@Thomaash Nice work mit #157 !

I remember creating a bunch of new arrow-heads back in the days. While the new image head might solve this issue I'm not sure if it is the best solution because of performance issues. Maybe we should also add some custom heads like I did in https://github.com/almende/vis/pull/2066 ?

[2019-10-27 14:22] mojoaxel commented on #181
Maybe somebody wants to create a new example that demonstrates this? I also would love this!

[2019-10-27 14:24] mojoaxel commented on #164
We should keep this here open until https://github.com/AlexDM0/keycharm/issues/6 is resolved!

[2019-10-27 14:29] Thomaash commented on #153
I didn't really think about performance. We can add more arrow heads that's no big deal. Although if we want to allow people to add their own we should rework the way this works as it's pretty confusing right now (good design for reducing duplicity but it can easily break with improper use).

[2019-10-27 14:31] mojoaxel commented on #31
@r3code Did you open a PR yet? If not feel free to open a [Draft Pull-Request](https://github.blog/2019-02-14-introducing-draft-pull-requests/) so we can have a look :smiley:

[2019-10-27 14:31] Thomaash commented on #181
I plan to do some changes that would make this doable (without fragile hacks). Namely custom ordering of nodes on the same level and edge crossing reduction. Since the other PRs messing with hierarchical layout are merged I can have a look at this next.

[2019-10-27 14:31] mojoaxel commented on #57
#85 is approved.

[2019-10-27 14:50] #57 closed

[2019-10-27 14:50] #97 closed

[2019-10-27 14:50] #123 closed

[2019-10-27 15:28] r3code commented on #31
@mojoaxel I did it my fork here https://github.com/r3code/vis-network/commit/35c0f9b127e465bcd864d051a37c545da301d694. But I have to merge with current origin before PR.

[2019-10-27 17:55] PrzemyslawKlys opened #183 "None of the examples work on 6.2.0?"
All examples are basically empty now in Chromium Edge / IE.

https://visjs.github.io/vis-network/examples/

![image](https://user-images.githubusercontent.com/15063294/67639026-4a5b2100-f8eb-11e9-9309-0288cf373729.png)

Only legacy version works.

[2019-10-27 17:56] Thomaash commented on #183
Hi @PrzemyslawKlys,

I'm just working on this.

[2019-10-27 18:01] PrzemyslawKlys commented on #183
Ah, ok. This new version should work on IE right? Because I can't get it to work.

I've changed link to new UMD:

https://jsfiddle.net/t7sbg0pn/1/

[code]

[2019-10-27 18:05] Thomaash commented on #183
It seems the dependencies got messed up (probably when I was merging upstream/master into the PR branch) so they don't have polyfills included and therefore work only in the most modern environment (not yet 100% sure that's the whole problem).

[2019-10-28 08:26] mladenb commented on #181
If I can help in any way, please let me know. I'll be more than happy to help with this feature.
So far, I figured that nodes are ordered, on the same level, by their ID, so I managed to mitigate this issue by re-mapping node ids to custom ordered new ids, manually.

[2019-10-29 14:32] PCJPablo opened #189 "Newest release breaks functionality with accessing data on edges."
Previously was accessing the vis.DataSet object like so `edges._data[id]` but it appears the the _data object has been changed from a normal key value pair object to a Map but the entries are not accessible by the id anymore or even the index of the entery.

[2019-10-29 16:23] Thomaash commented on #189
Hi @PCJPablo,

the underscore at the start of the property name says: `WARNING: THIS IS NOT PART OF THE API. THIS MAY CHANGE AT ANY TIME. DON'T TOUCH THIS!!!!`. We indeed switched to map.

If you have some use case that can't be implemented with the public API feel free to open an issue on https://github.com/visjs/vis-data/issues/new, provide an example (preferably an MWE on JSFiddle) and I'll see

[2019-10-29 16:23] #189 closed

[2019-10-29 16:43] PrzemyslawKlys commented on #183
This still isn't fixed in 6.3.0, and IE doesn't work still. Is this still work in progress?

[2019-10-29 23:43] mashlol opened #191 "Overriding Function.prototype.toString"
In the distributed js (found here https://unpkg.com/vis-network/standalone/umd/vis-network.js), there is some code that tries to override Function.prototype.toString:

[code]

It also happens again much further down as well.

I've had to remove this code to get it to work in my codebase, as we prevent this. It seems wrong to me that it's trying to do this - is this coming from CommonJS?

[2019-10-30 02:14] DeZZar opened #192 "Forcing edge labels to avoid nodes"
Hi Team,

I currently have a network implementation that shows organisational structure.  It is working well with the main settings being that nodes are fixed position with physics disabled at the node level, physics is on at the tree level for lines and it's set to use the 'barnesHut' resolver in default configuration.

We have recently developed a feature that adds new edges to the network (temp

[2019-10-30 05:31] DeZZar commented on #192
In addition to the above - if the physics based avoidance is not possible at this time the other alternative would be to provide a method that returns the edge object (by edge id) containing the centre point coordinates for the edge. This would allow custom labels to be printed onto the edges and solve the issue of essentially z-index.

[2019-10-30 06:37] DeZZar commented on #143
Hi @mojoaxel,

Not sure if its related to this post or not but I have recently found that essentially all of the examples on https://visjs.github.io/vis-network/examples/ are broken when you try to open them.  Most of the time the error is that the vis-network.min.js file is returning 404.

[2019-10-30 06:57] PrzemyslawKlys commented on #183
Examples still not working:
- https://visjs.github.io/vis-network/examples/network/data/dotLanguage/dotPlayground.html - pressing Draw doesn't do anything
- https://visjs.github.io/vis-network/examples/network/data/dotLanguage/dotEdgeStyles.html - nothing has shown

Now that I checked, most still don't work (if not all). Miniatures do work thou...

[2019-10-30 06:58] Thomaash commented on #143
This issue had been fixed yesterday.

On Wed, Oct 30, 2019, 07:38 DeZZar <notifications@github.com> wrote:

[2019-10-30 07:00] Thomaash commented on #143
No, it wasn't. Maybe I should have checked before commenting.

On Wed, Oct 30, 2019, 07:58 Tomáš Vyčítal <tom.vycital@gmail.com> wrote:

[2019-10-30 11:26] Thomaash commented on #143
Should be fixed via #193.

[2019-10-30 13:04] #183 closed

[2019-10-30 13:06] PrzemyslawKlys commented on #183
Does this solve issue with IE not working as well or different thing?

[2019-10-30 13:29] Thomaash commented on #183
No IE is still not working. However there is an error coming from Vis Data now. It seems like it's not properly polyfilled. I'll probably have to migrate it to core js 3 as well.

[2019-10-30 13:31] PrzemyslawKlys commented on #183
thanks ;)

[2019-10-30 14:30] Thomaash commented on #183
The problem is actually not present in standalone build. It's only peer build that suffers from this issue (the problem is in Vis Data package not in Vis Network). The standalone build seems to work just fine.

[2019-10-30 16:48] PrzemyslawKlys commented on #183
The version I use doesn't seem to work

[Example-Basic.zip](https://github.com/visjs/vis-network/files/3790169/Example-Basic.zip)

1. Unpack
2. Open this up in IE as file (not via webserver)

In chrome it looks like this:
![image](https://user-images.githubusercontent.com/15063294/67879497-6229e380-fb3d-11e9-9a09-f2dc67b38212.png)

In IE it gives empty space. I'm using single:         `<script typ

[2019-10-30 23:10] jk-12345 opened #195 "Long Edges end very far from Nodes"
Hi,

First of all, visjs is impressive and it's great.

I have recently an issue with very long edges with arrows (> 150 000 point/pixel) : the edges are not ending on the nodes they are linked but they remain very far...

![32148382-3672d234-bd4a-11e7-9ab6-7f75ba463a9e](https://user-images.githubusercontent.com/33206139/67905781-a1e8dd80-fbc6-11e9-88b4-75f4e9eb2af8.png)

Any ideas on how to fix t

[2019-10-31 00:17] CryHenry opened #196 "Vis.js Network + Angular 8 + FontAwesome 5 Icons"
Hi,

I'm having trouble implementing FontAwesome 5 Free as icons within the VisJS network Graph 6.3 under Angular 8.

I can get the graph to render with the nodes displayed as a 'dot' but cannot get them to display as an icon within the graph. Here is where I set the options for the network graph...

`public options: any = {
    interaction: {hover: true, multiselect: true},
    nodes: {
      sha

[2019-10-31 00:40] CryHenry commented on #196
Yeah, OK, sometimes it's hard to see the wood for all the trees :)

The code where I was creating each node was infact not running, it was legacy code in the controller. Once I applied the 'group' to where the actual nodes were being created, it then applied the groups and the groups icon correctly to the node.

One gotcha though for those coming after me is that Font Awesome 5 'fas' class/Solid i

[2019-10-31 00:40] #196 closed

[2019-10-31 20:26] jk-12345 commented on #195
Sure... Here you go :

https://codepen.io/jk-12345/pen/gOOXjPB

[2019-10-31 22:10] Thomaash commented on #195
Thanks for the MWE.

After investigating it I found out that disabling smooth edges makes the problem disappear. So the problem will be in the smooth edge algorithms. They probably make some rough guesses that result in small imprecisions. You just streched them to noticeable size.

I'm not sure when I'll have the time to do something about it. There are already a few other things I'd like to do.

[2019-11-01 08:03] piratuks opened #200 "Self reference circle position option"
I would like to request features / properties related to the selfReference. Property to say that selfReference edge is at the top / bottom / right / left (meaning the edge circle position is centered based on node according to provided position).

I am attaching images to represent my requested option:

So the following image is something i would expect from requested options. You can see that  se

[2019-11-01 10:23] Thomaash commented on #200
Hi @piratuks,

I think many people would appreciate these features but the problem is that those are three independent features that should be tracked and implemented separately. Could you split this into three issues, please?

Thanks.

[2019-11-01 12:10] piratuks commented on #200
@Thomaash yea sure. I have forked and implemented these thing as quick work around for myself. The code is not the best and etc but feel free to check if needed...

[2019-11-01 12:15] piratuks opened #201 "Half circle of self reference option"
I would like to request features / properties related to the selfReference. Property to say that selfReference edge should be half circle. I have network where i am representing some nodes as tables and i have other nodes as attributes of the table (meaning these are placed inside that table node). So in this case i have table node with transparent background. Now if such table has self reference

[2019-11-01 12:18] piratuks opened #202 "Ability to set edge angle / length"
I would like to request features / properties related to the selfReference. Property / option / ability to say that edge between two nodes should be at a specific angle or length. Because right now if i have table which attributes are pointing to other attribute then the edge will always be inside table node...

I am attaching images to represent my requested option. i would expect ability to set

[2019-11-01 16:08] Muntaner opened #203 "Layout proposal: nodes "clustered" by groups"
In various projects where I used VisJS, I often had the need to implement a node clustering feature based on their groups. I'm not talking about the already implemented clustering feature where one node can contain other nodes, but a layout which places nodes of the same group in the same region of space in VisJS canvas.

One good example where you can see what I mean for this is the [world cup ex

[2019-11-01 17:01] Thomaash commented on #203
I can't really image why someone would do this but that may be just my limited imagination. Could you, please, showcase some projects that good make use of it? Because to me it seems quite weird and the edges go all over the place in a very chaotic manner. Seems really hard to navigate. Though I can't say anything definitive before I actually see it in action and also the code anyway.

In the futu

[2019-11-01 17:29] Thomaash commented on #191
Hi @mashlol,

do you detect pollution manually or do you have a tool for it? If you have a tool I'd like to incorporate it into our tests so that this doesn't happen again.

Thanks.

[2019-11-01 19:07] mojoaxel commented on #203
Hi Michele! Thanks for opening this issue! Please feel free to also share your implementation progress e.g. in a [draft pull-request](https://github.blog/2019-02-14-introducing-draft-pull-requests/).

As @Thomaash already mentioned it would also be useful to describe how these kind of layout could be used.

[2019-11-01 19:50] mashlol commented on #191
Afaik it's just a runtime exception we throw, to prevent overriding prototype functions like Function.prototype.x or Object.prototype.x. But I am not an expert on this.

[2019-11-05 05:08] deepanshu11madan commented on #100
@Thomaash I calculated the layers and coordinates for the nodes, and I was trying your suggestion to use hidden nodes for the edge layout, but when i hide the dummy nodes , the edges are also hidden, is that expected?

[2019-11-05 05:41] deepanshu11madan opened #211 "Option to pass an array of { x, y } pairs for the control points of the edge similar to placing nodes manually at { x, y }"
Options to pass an array of { x, y } pairs for the control points of the edge similar to placing nodes manually at { x,y } to give more flexibility for the edge layout, and shape.

`var edges = new vis.DataSet([
  { from: 1, to: 3 , points: [{x1,y1}, {x2,y3}, {x3,y3}, {x4,y4}, ]},
]);
`

[2019-11-05 09:53] GuengdongKim commented on #180
**To @mojoaxel .**
Thanks you to accept our proposal about translating and contributing to your open source software. Through our team discussion, we decided to making a **new docs-kr ourselves** and continuously updating it.  Sooner or later, our docs-kr  will be uploaded our project repository. And we will **pull request** our uploading docs-kr file to your visjs/vis-network profile. After pull

[2019-11-05 11:19] Thomaash commented on #211
Hi @deepanshu11madan,

could you provide some use cases for this? How exactly should this work? What exactly should this achieve?

Thanks.

[2019-11-05 11:21] Thomaash commented on #211
Is this supposed to be more user friendly solution for #100?

[2019-11-05 11:23] Thomaash commented on #100
I've never actually used hidden nodes before so I'm not sure how exactly they work. The documentation on these is very short so maybe this is how they're supposed to work. If so we should add it to the docs.

[2019-11-05 14:55] segfault16 opened #213 "Hierarchical Layout with user defined levels breaks after interaction"
Hi,

I've noticed https://github.com/visjs/vis-network/blob/4e0d998d785bd47fa7ce5127c86e49112a7ccdf1/lib/network/modules/LayoutEngine.js#L734 thrown in my vis-network, although I've specified a `level` for each of my nodes.
Upon examination I've found an additional node `targetNode[someUID]` in the body of the LayoutEngine to be the node that hadn't had a level set.
This additional node seems to b

[2019-11-05 15:27] deepanshu11madan commented on #211
Hi @Thomaash yes, correct one use case is for #100

[2019-11-05 15:29] deepanshu11madan commented on #100
yeah I am not sure either, from what I knew or read in a post , dynamic edges work using  hidden dummy nodes, but not able find any documentation around it.

Is there any other way you can suggest to have a  custom layout for edges like that?

[2019-11-05 19:49] Thomaash commented on #213
Hi @segfault16,

I think this may be a duplicate of #178. Could you check it out, please, and see if it indeed is the same issue?

Thanks.

[2019-11-05 20:07] Thomaash commented on #100
The only other thing that comes to my mind is to try regular nodes with zero size or tiny 100 % transparent images.

[2019-11-05 20:08] Thomaash commented on #191
7 days went by and I think I know where everything comes from. The offenders are Vis Util, which will be mostly solved by https://github.com/visjs/vis-util/pull/61, and Vis Network, which will be mostly solved by #204 and Vis Util update.

Though it seems that Babel stubbornly creates two global variables `__core-js_shared__` and `regeneratorRuntime`. These are at least new, nothing preexisting is

[2019-11-05 20:35] deepanshu11madan commented on #100
yeah i was thinking that too, but then i will loose the edge click events functionality, there will be multiple edges instead of once edge between two nodes.

Is there an example or something you might be able to point me to draw my own edge on canvas, using the ctx, and that way i can provide coordinates to it. I am assuming library does something similar to draw edges, i am just looking to someh

[2019-11-05 20:46] mashlol commented on #191
Thanks for looking into this! I don't think the globals are an issue for us.

[2019-11-05 20:59] deepanshu11madan commented on #100
something like exposing this "Compute the additional points the edge passes through" in  https://github.com/visjs/vis-network/blob/master/lib/network/modules/components/edges/cubic-bezier-edge.ts

So we can pass the additional points the edge passes through, do you think this is something that can be done on the library side?

[2019-11-06 05:01] segfault16 commented on #213
Hi @Thomaash,

those issues could indeed be connected. At least your proposed solution `I'll have a look if the support edges can be safely ignored in hierarchical layout` should also fix this issue.

In the meantime I've done some more investigating and I've managed to get around the error by making sure to set the `edgeMode` to `editEdgeMode()` before updating the data. The issue occurred when t

[2019-11-06 10:19] Thomaash commented on #100
Sadly the code expects one or two points so it would be pretty inflexible. Making them configurable in user friendly way will likely require some work. However adding this without smooth edges should be quite simple. Though I haven't looked into it yet.

Regarding the edge you can take inspiration from https://thomaash.github.io/me/#/canvas (code: https://github.com/Thomaash/me/blob/02303744befed1

[2019-11-06 14:23] deepanshu11madan commented on #100
Thanks @Thomaash.
Yeah I can try this other way, but it might be very hacky, I'll also have to find a way to show edge label with those multiple edges with hidden nodes, I also have an edge traffic animation and who knows there might be other issues I might have to handle.

And regarding your point of adding this without smooth edges would be simple, how much work do you anticipate? Is that someth

[2019-11-06 15:53] deepanshu11madan commented on #100
A little more context: I am using https://github.com/dagrejs/dagre/wiki, is a really good layout for directed graphs based on Sugiyama layered graph algorithm. dagre's focus in on graph layout only, this means that I need something to actually render the graphs with the layout information from dagre, and I am using visjs to render my graph.

[2019-11-06 23:03] deepanshu11madan commented on #211
For what it's worth, I found some way you might do this,  Rob Spencer describes what I want at http://scaledinnovation.com/analytics/splines/aboutSplines.html.

Here's the code with a demo https://jsbin.com/ApitIxo/2/edit?html,output

[2019-11-06 23:07] deepanshu11madan commented on #100
Actually regarding the Rob Spencer describes what might be a way to do it? http://scaledinnovation.com/analytics/splines/aboutSplines.html.
Here's the code with a demo https://jsbin.com/ApitIxo/2/edit?html,output

[2019-11-07 00:21] deepanshu11madan commented on #100
or the other way described here https://stackoverflow.com/a/15528789, does any of these sound like something that could allow taking it in array of points and draw an edge? I'll also take a shot and play with the library code to see if i can make it work somehow.

[2019-11-07 11:59] vklepper opened #214 "Import data from DOT language"
Hi,

I found an error in the documentation : The function `convertDOTNetwork()` doesn't exist anymore. I found the function `parseDOTNetwork()` and guess it was the the correct way to import data from DOT string.

Thanks you for the library, very usefull !

Valentin

[2019-11-07 17:44] Thomaash commented on #214
This export never actually existed. It used to be a part of the network monster object (`vis.network.convertDOTNetwork`, very treeshaking unfriendly). Thanks for pointing this out.

[2019-11-07 19:14] PrzemyslawKlys commented on #166
Since IE support still doesn't seem to work, is it possible to reopen this?

[2019-11-08 05:23] deepanshu11madan commented on #100
@Thomaash I am not able to make it work, you mentioned "However adding this without smooth edges should be quite simple." how would that be ?

[2019-11-08 14:03] Tazeg opened #217 "navigationButtons not displayed"
Navigation buttons disappeared between releases 6.0.0 and latest. Here is how to reproduce :

Create a package.json with **6.0.0** release :

[code]
type : `yarn install`

create this `index.html` file and open it in the browser :

[code]
The navigation buttons are displayed.

Update to the latest release :

[code]
(latest is: 6.3.1)

Refresh page in the browser : navigation buttons have gone.

[2019-11-08 15:34] Thomaash commented on #166
Yeah, sure, this should be reopened.

[2019-11-08 16:19] Thomaash commented on #100
Well, without smooth edges you can just connect node to node with straight lines. That shouldn't be difficult.

[2019-11-08 16:29] Thomaash commented on #217
Hi @Tazeg,

the default/dist build is deprecated now. Can't you switch to the standalone build instead?

The problem is that the CSS is supposed to have the images inlined which works in peer and standalone builds. However nobody has configured this for the legacy build.

PS: `node_modules/vis-network/standalone/umd/vis-network.min.js` and you no longer need the CSS nor the images, just this singl

[2019-11-09 10:29] Tazeg commented on #217
Thanks for your quick answer.

I use `vis-network` in Electron app. So as you said, it works fine with the following line and without including any CSS :

[code]
But it is not supposed to be the right way. I should require like this :

[code]

[2019-11-09 13:36] Thomaash commented on #217
Try
[code]
or if you bundle and want tree shaking
[code]
or if you really want to use the legacy build (please don't, we'll remove it eventually anyway) you can wait for #219 which will fix the issue.

[2019-11-09 15:19] Tazeg commented on #217
If I understand, legacy is deprecated code ? if yes i don't need it. I want to use the latest and futur releases.
I'm sorry but what are umd, esm and three shaking ?
Should i always use `const vis = require("vis-network/standalone/umd/vis-network");` for latest and futur releases ?

[2019-11-09 19:16] Thomaash commented on #217
The legacy bundle contains up to date code. It's just bundled in fundamentally flawed way. The recommended way of importing Vis Network is either https://visjs.github.io/vis-network/examples/network/basic_usage/standalone.html or https://visjs.github.io/vis-network/examples/network/basic_usage/peer.html.

UMD combines several legacy module systems in single file. These can be simply required in no

[2019-11-10 19:09] #217 closed

[2019-11-10 19:10] #214 closed

[2019-11-12 11:56] Tyler-Maclachlan opened #226 "Question: Node z-indexing"
Hi guys,

I'm wondering if it would be possible to have a sort of z-indexing for nodes, especially on hover. Dragging already seems to have some of this implemented.

Labels especially get 'hidden' behind other labels, and I'd like the node I'm hovering's label to be on top.

This also creates weird interactions when using custom functions on the hover, drag and blur events.

Example:
Node hover i

[2019-11-12 12:19] aml2610 opened #227 "[TypeScript] Type of "node.font.vadjust" is string but should be number?"
Hi guys!
First of all, thank you for supporting this awesome library!

I am using `"vis-network": "^5.2.3"` and testing on the latest Chrome, latest macOS, but for this one I think versions are a bit irrelevant. I can see the same code on the `master` branch.

You can pass a font-related option to a node called `vadjust`. In the type declaration from https://github.com/visjs/vis-network/blob/maste

[2019-11-12 13:43] Rico66100 opened #228 "Edge events broken ?"
Events on edge seems to be broken, since 6.1.2.

https://visjs.github.io/vis-network/examples/network/events/interactionEvents.html

My console:
![Screenshot from 2019-11-12 14-41-25](https://user-images.githubusercontent.com/51325367/68676697-d5c6ea00-055a-11ea-87c8-d094ba073c19.png)

[2019-11-12 14:04] Rico66100 commented on #228
Works fine with 6.2.0

[2019-11-12 14:05] piratuks opened #229 "arrow head of self reference"
If you have self reference with bigger size as example 70 then arrow heads has incorrect angle, it is fine with small size.

![Capture](https://user-images.githubusercontent.com/8760197/68678245-432c4800-0566-11ea-9473-a2ba80632d6d.PNG)

[2019-11-12 18:06] Thomaash commented on #229
Hi @piratuks,

I can confirm this. However they are misaligned at any size. It's just that increasing their size or to an extent also zooming in makes it easier to spot.

[2019-11-12 18:30] Thomaash commented on #227
Hi @aml2610,

`vadjust` is definitely supposed to be a number (it's actually converted to Number internally and a number is used if it's not specified). Even the docs get it confused as there is string as data type but number as default value.

If you could provide a fix that would be great. Thank you.

[2019-11-12 18:52] Thomaash commented on #228
Hi @Rico66100,

more info about triggering this would be appreciated. However after some fiddling around I found out a way to trigger this.

It happens when an edge is reconnected. Just as the end of the edge is dropped onto a node an error is thrown and the edge is forever stuck in there. It's possible to redrop the edge but that throws just another instance of the same error.

PS: If there are m

[2019-11-12 19:16] Thomaash commented on #228
Sometimes I really wonder what were the people thinking? I understand when people do this if there's no other way but why here? Why would anyone chose `._data[id]` (private, undocumented) over `.get(id)` (public, part of the documented API)?

PS: For those who don't know in JavaScript convetions underscore means it's private and should never be accessed from the outside as it can change or disappe

[2019-11-12 19:23] Thomaash commented on #228
There are several places where this is used so many more things should be broken. I'm actually surprised it works at all.

[2019-11-12 20:26] Thomaash commented on #226
Hi @Tyler-Maclachlan,

this seems like three separate issues to me:
1. setting custom z-index,
1. nodes jumping in front of and behind each other (I can confirm this),
1. glitches during node dragging (I can't reproduce this).

If I'm right could you split this into three issues so that we can track each one independently, please?

[2019-11-13 07:40] Rico66100 commented on #228
@Thomaash : Sorry, to trigger this, I select an edge then 'Edit Edge'. Select on of the drag/drop circle and just drop it on a node.

[2019-11-13 12:35] Tyler-Maclachlan commented on #226
Hi @Thomaash

I don't think this needs a public custom z-index method, I just think the renderer needs to take into account which node (if any) is being dragged/hovered/selected and render that last - which will give the z-index effect needed to fix this.

[2019-11-13 12:44] Tyler-Maclachlan commented on #213
Hi @segfault16

Are you using smoothed edges in your implementation? If so then the issues are connected.

Using smoothed edges creates hidden support nodes which interfere with the layout engine checking that the levels are all set.

The solution I used to get around the error is just to disable the layout before making changes and then re-enabling it after making the changes.

[2019-11-13 12:47] szabi commented on #166
ESM module system/loading is not supported by IE (even Version 11), but it is by Edge. Maybe that's the root of the issue?

[2019-11-13 12:50] PrzemyslawKlys commented on #166
The test version that @Thomaash provided worked in IE. That means it should be possible to get it up and running.

[2019-11-13 12:56] szabi commented on #203
@Muntaner, I'd imagine creating densely connected subgraphs with hidden layers cateters very well for placing them close via the physics engine. You can have physically active (present) but hidden edges.

[code]

Did you experiment with that?

[2019-11-14 03:36] segfault16 commented on #213
Hi @Tyler-Maclachlan,

I'm not using smoothed edges directly, but when entering `addEdgeMode()` I guess there are hidden support nodes added to the layout. If you draw an edge from node to node this edge is displayed curved and not straight. So I currently have to leave the `addEdgeMode()` (by calling `editEdgeMode()`) for the layout not to use hidden support nodes. Temporarily disabling the layou

[2019-11-14 17:33] qohelet opened #234 "Change Keywords? (like size)"
Hi,
for our graphs we already have quite a lot of values included in each node.
I'd prefer to have the design-related part (used for visjs) in the code visually more separated from the data related parts.
Let's say I'd like to have the attribute-keys "size", "id", "value" or "color" written to be with a prefix.
Like "vis_size", "vis_id", "vis_value" or "vis_color".

Is that actually possible?
Than

[2019-11-14 17:52] Thomaash commented on #234
Hi @qohelet,

I'm sorry to disappoint you but to put it simply the answer is no. This, although possible, would require massive overhaul of the entire library and would break everything that depends on it.

I suggest you keep all Vis related values under dedicated vis property and supply that to Vis Network or go the other way around and have some payload property containing all nonVis data to kee

[2019-11-14 17:52] #234 closed

[2019-11-17 18:27] xrn commented on #164
https://github.com/AlexDM0/keycharm/issues/6 is solved - @mojoaxel issue can be solved?

[2019-11-18 11:49] #191 closed

[2019-11-18 21:35] #164 closed

[2019-11-19 18:49] #227 closed

[2019-11-19 20:37] #228 closed

[2019-11-20 11:36] Thomaash commented on #234
Hi @qohelet again,

I was thinking about replacing one flawed and inflexible feature of data sets with an alternative and your issue came to my mind. There's no code yet but the idea is to synchronize two data sets and add some processing in between:
[code]
This would allow you to have a data set with prop names (and data types, formats, structures etc.) of your choosing and have it automatically

[2019-11-21 07:42] PrzemyslawKlys opened #248 "Tips on working with large number of nodes"
I know this isn't support forum but I guess this should be useful for some people. Can you guys share some tips on working with large number of nodes connected to 1 or more nodes?

I wanted to generate diagram of a network where there are 3 nodes connected to each other then there are 100-300 nodes connected to each one of them and it looks like a total mess and the algorithm that is responsible f

[2019-11-21 08:52] joyholdgod opened #249 "MSIE webbrowser component not working"
Dear visjs

I'm a developer in Korea.
I'm not good at English.
I need your help.
I'm stucked developing network diagram.

It works in ordinay web browser. IE11 also works greatly.
But the problem is when I use Webbrowser component that supported Microsoft.

I tested vis in "webbrowser component".
The problem is Event.
mouse drag, click,selectnode are not working. But scrolling, hovernode works.
It

[2019-11-21 09:46] Thomaash commented on #249
Hi @joyholdgod,

this sounds a bit like an issue that appeared in 6.1.2 and should be resolved since 6.4.3, I'm not 100 % sure though. Could you test it with 6.4.3 explicitly and if the issue still persist post a screenshot with console output?

Thanks.

PS: I have never worked with webbrowser components. Could you maybe provide an MWE that I could use for testing?

[2019-11-21 09:54] Thomaash commented on #248
Hi @PrzemyslawKlys,

I'm sorry but I don't actually understand the layouting stuff and the people who created it are no longer active here.

Could you maybe provide an MWE I could fiddle with to see if there's something I can improve or recommend?

[2019-11-21 15:10] ewsnybchan7 opened #251 "some typos in edges.html"
I find the _**some typos**_ in edges.html before use your network projects.
I think that they are wrong.

so, i do pull requests with correction.
Please make sure that it's correct or not.
### Thank you :)

[2019-11-21 17:10] #180 closed

[2019-11-21 17:18] #251 closed

[2019-11-21 21:15] PrzemyslawKlys commented on #248
Here is a basic sample:
- https://codepen.io/MadBoyEvo/pen/yLLrLVQ

![image](https://user-images.githubusercontent.com/15063294/69377342-5947b000-0cac-11ea-8b19-77481748929e.png)

I generate this with PowerShell, but basically it's just a few connections to each connections.

[code]

[2019-11-21 21:16] PrzemyslawKlys commented on #248
The goal would be to have this easily visible so I can explore nodes, see how they are connected. If i would be to start connecting some nodes between each other it would be even bigger mess that is invisible

[2019-11-21 22:31] Thomaash commented on #248
# Barnes Hut
The physics have some sane defaults for networks with small neighborhoods (most common use case). The bigger the neighborhood the more force (negative gravity) you need to space them out:
[code]

However, even though it's better, it still doesn't seem to work properly as they are moving indefinitely or maybe it takes really long time to come to a halt and I'm just too impatient. Tweak

[2019-11-21 23:57] joyholdgod commented on #249
I'm not famillier github.
I tested 6.4.3.

1. download vis-neteork-6.4.3.zip
2. unzip the zip file.
2. double click "examples/network/basicUsage.html"
3. nodes and edges not displayed
3. edited source basicUsage.html
../../standalone/umd/vis-neteork.min.js
=> edit => ./vis.js
4. inserted file vis.js in same directory
( vis.js version is 4.21.0 )
5. opend the file in webbrowser component.
6. nodes,

[2019-11-22 01:14] joyholdgod commented on #249
Dear Thomaash
I mailed to you with programm.

Thank you.

[2019-11-22 11:16] ccaillet opened #255 "EdgeHandler error since v.6.4"
Hi I use vis-network as a Hierarchical layout, using script:
_https://visjs.github.io/vis-network/standalone/umd/vis-network.min.js_
like this:
[code]
It worked fine with version v6.4.0. Since version 6.4.3, I've got the following error:
[code]
In this projet I use a click on a node to do something. And with this error, it look like that the click event is not anymore registred.

[2019-11-22 15:26] Thomaash commented on #255
Hi @ccaillet,

when I deleted all the stuff from your example you didn't provide (`vis_fr`, `shapes.task`, `manageTasks`, `base_url`) everything works just fine. I don't get any error at all.

[2019-11-22 16:07] oussjarrousse commented on #56
I am also interested in WebGL rendering as an option for vis-network.
How can i help?

[2019-11-22 16:47] Thomaash commented on #56
Hi @oussjarrousse,

your help would be really appreciated as this seems to be quite stalled.

I would see this happening in these stages:
- [ ] Find all the places where the Canvas API is being used.
- [ ] Encapsulate the Canvas API into self contained rendering object with a new API built with WebGL support in mind.
- [ ] Create a WebGL implementation of the forementioned API.
- [ ] Add a new API

[2019-11-22 19:54] ewsnybchan7 opened #258 "additional typos in your docs"
Hello!
I find **additional typos** in your docs.
Please make sure that it is correct or not.
I hope that this is a good contribution to your project.

ps. I looked at the project while editing the documentation, and it was great.
If I have time, I want to make something with your project.

Thank you!

[2019-11-22 20:03] #258 closed

[2019-11-24 17:34] Thomaash commented on #249
So I finally got to properly investigate this and the result is following: MSIE webbrowser component doesn't dispatch pointer* events which we listen to. However it dispatches mouse* events which theoretically could be used instead. A little complication here is that we use Hammer.js to handle these things so it has to be fixed there. I therefore suggest that you open an issue on https://github.co

[2019-11-24 19:08] Thomaash commented on #166
I think I finally figured out why there were so many weird and seemingly random issues. To put it shortly we were polyfilling polyfills (up to five layers of polyfills in the worst case) which is a really stupid thing to do. It sometimes fails, sometimes works and sometimes it obscures issues in underling packages.

There are three PRs opened right now addressing this and after they're merged and

[2019-11-24 19:22] PrzemyslawKlys commented on #166
Will it potentially resolve my issues from https://github.com/visjs/vis-network/issues/139 ?

[2019-11-24 19:42] Thomaash commented on #166
I copy pasted the code into a file and replaced the unpkg.com version with the one from my test build. Once the icon font is loaded/cached everything works as expected. Though was not able to reproduce your issue back then either.

Maybe it was polyfilling issue. Polyfills often depend on slight nuances to decide whether a polyfill should be applied or the native implementation used. It's possible

[2019-11-24 19:43] PrzemyslawKlys commented on #166
We will see :-) Thank you!

[2019-11-24 19:47] Thomaash commented on #166
Actually you can test it yourself right now: [vis-network.zip](https://github.com/visjs/vis-network/files/3884053/vis-network.zip).

[2019-11-24 20:10] PrzemyslawKlys commented on #166
No, no change.

[2019-11-24 23:41] joyholdgod commented on #249
I opend the issue!~
Thank you!!!

[2019-11-25 08:09] joyholdgod commented on #249
Dear Thomassh
I got the message from Hammer.js below.

https://github.com/naver/hammer.js/issues/23#issuecomment-557969579

---------------
Hello, @joyholdgod!
If the pointer events are the problem here, there's an option to disable it in hammer.js.
That can be done by giving an option with inputClass with value TouchMouseInput when creating a Manager instance.

import { Manager, TouchMouseInput }

[2019-11-25 09:32] Tyler-Maclachlan opened #264 "Hierarchical layout creates massive gaps when there are nodes in clusters"
Hi guys,

So I have a graph of around ~930 nodes

916 of those nodes are connected to one node and therefore are clustered into that node.

The problem is the layout still creates space for them and thus creates large gaps where those nodes would be if they weren't clustered.

This creates a scenario where I have a node that is clustered and I have to scroll down forever to find the 13 nodes that

[2019-11-25 12:40] Thomaash commented on #264
Hi @Tyler-Maclachlan,

you said you have predefined levels. Then this is the correct behavior. The library is not supposed to question your levels. It gives you full manual control (the code that assigns levels doesn't run at all in this case).

Is there any particular reason why you want to have predefined levels?

[2019-11-25 12:50] Tyler-Maclachlan commented on #264
Hi @Thomaash,

This gap scenario happens even if the levels are not predefined. We use predefined levels because we calculate the level differently than what the `directed` and `hubsize` options do.

The problem is not with the levels, it's that the layout engine gives positions to all the nodes in the cluster and then can't use those positions for the nodes outside the cluster which makes the gra

[2019-11-25 18:26] Triet commented on #264
Not sure if this is related but there has been an issue where hierarchical layout "exploded" causing the massive gap. This was seen in earlier versions and should have been fixed. I used the earlier version and saw the same thing on large graphs.

https://github.com/almende/vis/issues/3357#issuecomment-322148978

[2019-11-25 18:50] Triet commented on #248
[cytoscape](https://cytoscape.org/what_is_cytoscape.html) has pretty good algorithms for layouts and much faster from what I've been testing. I've been using them to calculate my node positions and visjs to render. Its a little more work since you need to create 2 graphs but you can just wrap both framework within an API.

[2019-11-25 20:28] PrzemyslawKlys commented on #248
@Triet I don't think I can work with two API's. I generate my code in PowerShell. This means I have no ability to "join" both API's on JS level as I have no clue what will happen in JS. I simply try to build "JS/HTML/CSS" from PowerShell on a text level. My JS knowledge is close to 0. All I do is see paterns in JS/HTML/CSS and simply build "text" with PowerShell and it seems to work :-)

[2019-11-25 23:02] Thomaash commented on #249
So the solution from naver/hammer.js#23 works for the events but that's just a small part of it. Many other parts of the library don't work. The problem is that that thing is IE7. Adding compatibility tag or editing registers don't change anything. It's simply IE7. It even claims to be IE7 in it's user agent. I even checked if globals like `window.JSON` introduced in IE8 exist and they don't.

I'm

[2019-11-25 23:02] #249 closed

[2019-11-26 18:47] Triet opened #269 "Issue importing vis-network in angular 8"
I am trying to get vis-network working in my angular 8 project, however I am running into this issue when I try to build.

[code]

I've seen people solve it by adding **"allowSyntheticDefaultImports": true,** I've tried that and no luck. Heres my tsconfig.json. Any ideas?

[code]

[2019-11-26 21:33] Triet commented on #269
I found the problem, had to install hammer manually

[2019-11-26 21:33] #269 closed

[2019-11-27 01:31] naskooskov opened #271 "vis-network.js does not work in strict mode enforced by Chrome extensions"
Hello,
I've been using older version of vis.js in a Chrome extension I've written. I wanted to update to the newest version, however it looks like it does not support running in that environment:

Uncaught EvalError: Refused to evaluate a string as JavaScript because 'unsafe-eval' is not an allowed source of script in the following Content Security Policy directive: "script-src 'self' blob: filesy

[2019-11-27 06:48] Tyler-Maclachlan commented on #264
Hi @Thomaash

Is there a way to set the initial positions of the nodes for the hierarchical layout without it using only those positions and not calculating new ones based on those positions.

Currently if I set a default position for the nodes in the hierarchical layout it uses only those positions and does not try to lay them out?

[2019-11-27 11:46] Thomaash commented on #271
Hi @naskooskov,

this code actually comes from Facebook's Regenerator Runtime through Babel. I tried deleting the offending line and it seems to work just fine without it. Since it's never executed I'm not exactly sure what it's good for. It seems to be a fallback for misconfigured builds or something like that. Maybe an issue on https://github.com/facebook/regenerator/issues/new could be opened t

[2019-11-27 17:09] naskooskov commented on #271
It looks like regenerator has been fixed. Is this something that needs to be pulled into vis.js to get the updated version?

While I could relax the CSP, it is there for a good reason. As someone who works on security, I'd rather not do that.

[2019-11-27 17:27] Thomaash commented on #271
Where do you see the fix? I would also prefer not to violate CSP but looking at their master branch the offending line is still there: https://github.com/facebook/regenerator/blob/master/packages/regenerator-runtime/runtime.js#L725.

[2019-11-28 18:15] #264 closed

[2019-11-29 07:38] Tyler-Maclachlan opened #276 "Hierarchical Layout with large clusters still creates gaps after v6.4.5"
Hi Guys,

Thanks for #270, it works really well on small to medium graphs, however it does not fix #264, in fact it seems slower than before and still creates big gaps in the network.

Still using the same dataset as in #264

[2019-11-29 10:53] Thomaash commented on #276
Hi @Tyler-Maclachlan,

could you provide an MWE for this? Because in my tests it works perfectly.

Regarding performance sure it's slower, it does more work. I'm definitely not the best programmer in the world so it most likely could be improved. PRs and suggestions are always welcome.

[2019-11-29 11:43] Tyler-Maclachlan commented on #276
Hi @Thomaash,

Here is a [codepen](https://codepen.io/tyler-maclachlan/pen/gOOWPMe?editors=0110) with the dataset and options that I'm using.

[2019-11-29 15:26] gnilebat opened #277 "When adding an edge nodes are getting smaller"
Hey,

 I created a network in a Vue application and have the problem that when I am adding a new edge all my nodes get super small. It happens as soon as I click the first node to drag to the 2nd one. This are my options:
[code]
When I enable the configurator, the size doesnt change from adding an edge but if I set it to 20 again by going to some other size first, the nodes are the normal size aga

[2019-11-29 17:52] Thomaash commented on #277
Hi @gnilebat,

I was unable to reproduce your issue with just the options. Could you provide a complete MWE please?

[2019-11-29 19:18] Thomaash commented on #276
So I investigated this a bit and at least I found out why you have so huge holes in the network. The nodes are positioned when the network is created and then when the clusterByHubSize method is called a lot of nodes disappear but there is nothing to move the nonclustered nodes into the empty space. With default configuration physics would do it but you disabled it. There are three ways how you ca

[2019-11-29 19:38] Thomaash commented on #276
So the culprit is _condenseHierarchy method. Removing it took the time down to less than a second from almost 60 seconds. The purpose of this method is to reduce the amount of space between nodes on the same level which I guess is pretty tricky thing to do (the method has 370 lines) but I didn't look into it yet.

I'm still not sure why it slowed down though. Nobody touched this thing in the past

[2019-11-30 10:48] earcanal opened #278 "Example refers to libraries which are missing on unpkg.com"
When I tried to run the [Browser UMD example](https://visjs.github.io/vis-network/examples/network/basic_usage/peer.html) I got the following errors

[code]

which seem to relate to these lines:

https://github.com/visjs/vis-network/blob/647fb57b6ea1c7cc35d5b8d4d720621d54afc209/examples/network/basic_usage/peer.html#L100-L101

[2019-11-30 11:59] Thomaash commented on #278
Thanks for pointing this out.

[2019-12-02 06:59] Tyler-Maclachlan commented on #276
Hi @Thomaash

Thanks for the help, just a quick question:

If I have all the layouts disabled by default, start the network and do the clusterByHubsize and then enable the layout, that should work for this, but it doesn't seem to change anything?

[2019-12-02 20:54] Thomaash commented on #276
Hi @Tyler-Maclachlan,

if you have such issues maybe it would be a good idea to open a new issue, provide an MWE and see if it's a bug in the library that should be fixed. I don't think that what you describe should cause the network to bounce though I'm not sure what exactly to bounce refers to.

[2019-12-03 15:53] gnilebat commented on #277
Hey I recently got back to it, and realized I defined the network object inside of my Vue default data() not outside. That fixed my issue.

[2019-12-03 15:53] #277 closed

[2019-12-04 08:10] Tyler-Maclachlan commented on #276
Hi @Thomaash

The bounce is basically when I hover over an edge or node, all the nodes and edges move around erratically. It looks like they're bouncing around.

`network.stabilize()` and having physics enabled are not viable solutions here.

Why would the fix not work for a pre-clustered network and then enabling the hierarchical layout?

I've updated the [codepen](https://codepen.io/tyler-maclac

[2019-12-04 11:02] asmakhalfallah2018 opened #290 "How to space between nodes without using hierarchical ?"
Hello , i have a large graph , so when i set the option hierarchical in options layout my graph becomes not visible enough , that's why i decided to not use hierarchical and let it like normal . I want just to put some space between nodes . Is there any way to set nodes space without getting through hierarchical property ?
Here is my options :

                `         var options = {

[2019-12-04 17:40] Thomaash commented on #290
Hi @asmakhalfallah2018,

you can fire physics manually to place the nodes by calling `network.stabilize()`. This way you can take advantage of all the things physics can do without enabling it:
[code]

[2019-12-06 09:23] Corentiin opened #293 "Hierarchical Layout still creates gaps in v6.4.6"
Hello guys,

I know  this issue is the same as mentionned in #276 about the gaps in big networks

I'm the author of [this topic](https://stackoverflow.com/questions/59174231/vis-js-network-hierarchical-layout-few-nodes-positioned-far-from-the-original).

After upgrading to the [newest version ](https://unpkg.com/vis-network@6.4.6/standalone/umd/vis-network.min.js), nothing changed

Did I missed so

[2019-12-06 10:10] PrzemyslawKlys commented on #166
This seems to work with 6.4.6. Thank you!

[2019-12-06 10:10] #166 closed

[2019-12-08 19:05] jbu4github opened #298 "No Zoom configuration or option to alter default behaviour"
Can we add some parameter for zoom animation by default? Its really sharp and I cant find a way to add animation to it.

Alternatively expose the original mousewheel event in the listener so we can cancel it and use the exposed zoom methods with animation (moveTo)

Alternatively not have the "user can zoom" boolean prevent programmatic zoom with moveTo.

Any one of these would be absolutely fine.

[2019-12-08 19:07] jbu4github commented on #298
A maximum zoom would also be nice.
I feel like a lot could be achieved really quickly with some work on zoom. 💃

[2019-12-08 19:45] Thomaash commented on #298
Hi @jbu4github,

to put it shortly:
- We can add optional animation or limits. We don't really have the people to do so though as there are more pressing issues right now I'm working on (I'm practically the only one working on this library at the moment). If you have the time to contribute that would be really appreciated.
- We can't expose the raw event because there are multiple ways you can zoo

[2019-12-08 20:26] jbu4github commented on #298
Oh I apologise, it is indeed possible to use `moveTo()` with `zoomView: false`.
All I have now is the problem of implementing my own zoom with the wheel. Which would be a lot easier if the zoom handler still raised events while `zoomView: false`.

Ill have a go and raise a PR if nothing else goes my way :)

Thanks!

[2019-12-08 20:26] #298 closed

[2019-12-08 21:45] deepanshu11madan commented on #211
Hi @Thomaash do you plan to work on a feature for this? i think it will be a great enhancement providing flexibility to raw edges similar to nodes and would solve a lot of edge  layout/crossing/overlapping issues :)

[2019-12-08 21:53] deepanshu11madan commented on #84
@UnicornDeluxe were you able to achieve no edge crossing? i looked into Sugiyama, and Dagre layout implements it so i am using dagre to calculate coordinates for nodes and edges. With visjs i can set the nodes at those coordinates determined by dagre but no way to tell vsjs edges point coordinates

[2019-12-08 21:57] deepanshu11madan commented on #100
it is not the same, so i have basically edge control points calculated using dagre layout which follows Sugiyama layred graph algorithm, and avoids edge overlapping, straight lines would cause edge overlapping

[2019-12-08 22:02] Thomaash commented on #211
I would like to implement this eventually but I don't have the time to do it right now. Fixing existing issues has priority over new features and there are quite a few things broken (including at least one that will require complete overhaul of the deeply flawed way we handle options, that will take a lot of time).

[2019-12-09 03:40] deepanshu11madan commented on #211
I understand, thank you.

I tried to do it myself, i think i have the code working for drawing a line which passes through multiple points, I am just struggling to make it work perfectly with the vis-network library. So I am receivng the points option in StraightEdge class and drawing a line there, the graph looks like this https://jsfiddle.net/jm5fha2r/. The problem is the edge and node do not se

[2019-12-09 17:18] UnicornDeluxe commented on #84
@deepanshu11madan no, I wasn't able to achieve no edge crossing. What do you mean by

?
Can you share a screenshot of the resulting graph?

[2019-12-09 17:28] deepanshu11madan commented on #84
So dagre is a layered graph layout algorithm based on sugiyama, it calculates coordinates for nodes and control points for edges. With Visjs I can place the nodes on the coordinates generated by dagre, which works perfectly, but the edges are rendered by Visjs and they cross and overlap. I have the control points for edges generated by the dagre algorithm, but no way to tell visjs to use those arr

[2019-12-10 11:04] asmakhalfallah2018 commented on #290
thanks @Thomaash  . It works

[2019-12-10 11:05] #290 closed

[2019-12-10 13:11] asmakhalfallah2018 opened #299 "How hub is built when clustering ?"
Hello , i am using clustering with vis-network and i find it really matching with what i was searching . My question is about clustering by hub size : how do we specify the hub size ? i use it like mentionned :

           `function clusterByHubsize() {
                        network.setData(data);
                     var clusterOptionsByData = {
                         processProperties: funct

[2019-12-10 13:25] Thomaash commented on #299
Hi @asmakhalfallah2018,

I'm not exactly sure what your asking. If you want to cluster hubs of given size simply replace the `undefined` in `network.clusterByHubsize(undefined, clusterOptionsByData)` by a number but that's already described in the docs: https://visjs.github.io/vis-network/docs/network/#methodClustering.

[2019-12-10 13:38] asmakhalfallah2018 commented on #299
sorry @Thomaash  yup this is what i am asking . I didn't see it . Thnx alot man !

[2019-12-10 13:38] #299 closed

[2019-12-11 15:49] asmakhalfallah2018 opened #302 "How to enhance visibilty of large graph Vis.js ?"
i am using vis.js to draw my graphs . For small graphs i put a layout with a direction and it's working fine . But for large graphs i am obliged to not use layout and here is the result . So how can i avoid overlapping nodes and edges ? i used this code in physics and it's not working :

      ` var options = {
        interaction: { hover: true },
        layout: {    improvedLayout:false  },

[2019-12-11 17:00] Thomaash commented on #302
Hi @asmakhalfallah2018,

sadly you just have to play with the options to find something that will work for you.

You can try forceAtlas2Based. I had some quite good result with this one in the past although it needed some tweaking to get it just right.

Untested guess:
[code]

PS: It's really difficult to just look at a screenshot and give advice without being able to test if it actually works.

[2019-12-12 16:50] asmakhalfallah2018 commented on #302
Thnxx @Thomaash  . No problem since we can drag nodes it's not a big problem for us

[2019-12-12 16:50] #302 closed

[2019-12-12 16:51] asmakhalfallah2018 commented on #302
Thnxx @Thomaash . No problem since we can drag nodes it's not a big problem for us

[2019-12-13 08:22] greenking19 opened #304 "In react componentDidMount, enabling manipulation has no effect."
As shown in the code, manipulation is turned on but I don't see operation options in the canvas

![code](https://user-images.githubusercontent.com/43332372/70784591-abb85000-1dc4-11ea-91ae-d9686b5d24dd.png)
![effectMap](https://user-images.githubusercontent.com/43332372/70784593-ac50e680-1dc4-11ea-9cb5-da37f9a5b93e.png)
![officialWebsiteExample](https://user-images.githubusercontent.com/43332372/7

[2019-12-13 08:23] greenking19 commented on #304
No edit button。 Why is this？

[2019-12-13 12:44] Thomaash commented on #304
Hi @greenking19,

how are you importing it? Do you use something like:
[code]

[2019-12-14 12:49] UnicornDeluxe commented on #84
That does indeed make sense.
Have you tried placing 'fake nodes' at the mentioned control points for the edges to force visjs to draw the edges as you want?
So for example:
![grafik](https://user-images.githubusercontent.com/43786929/70848889-0363c380-1e78-11ea-844c-2f45cbc1649c.png)
Dagre gives you the coordinates of nodes `a, b, c and d` and a control point `e` for the edge from `b to d` you can